<div class="v-center justify-content-between">
  <h1 class="m-0" mat-dialog-title translate>
    Merge
  </h1>
  <i class="d-block i-icon i-close bgc-dark" mat-dialog-close></i>
</div>
<form class="merge-tag-form">
  <mat-dialog-content>
    <div class="form-group mt-2">
      <label for="tag" translate>Merge To</label>:
      <mat-select [(ngModel)]="mergeTo" name="merge_to" class="tag-select">
        <mat-option value="" *ngIf="!mergeTo">
          {{ 'Select Tag' | translate }}
        </mat-option>
        <mat-option *ngIf="mergeTo" [value]="mergeTo">
          {{ mergeTo }}
        </mat-option>
        <mat-option *ngFor="let tag of getTagsList()" value="{{tag}}">
          <div class="f-3 c-black" [class.selected-option-text]="mergeTo == tag">
            {{tag}}
          </div>
        </mat-option>
      </mat-select>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <a class="btn btn-white f-6 font-weight-bold c-blue mr-2" mat-dialog-close translate>
      Cancel
    </a>
    <ng-container *ngIf="!mergeTo || mergeTo === ''; else mergeButton">
      <button class="btn btn-default f-6 font-weight-bold" type="button" translate>Merge</button>
    </ng-container>
    <ng-template #mergeButton>
      <button [attr.data-action]="'contact-tag-merge'" class="btn btn-primary f-6 font-weight-bold" type="button"
        (click)="onMergeTag()" translate>Merge</button>
    </ng-template>
  </mat-dialog-actions>
</form>
