@import 'variables.scss';

.btn-default {
    background-color: $color-silver;
    color: $color-dark;

    &:hover {
        background-color: $color-silver;
        color: $color-dark;
    }

    &:focus {
        background-color: $color-silver;
        color: $color-dark;
    }

    &:active {
        background-color: $color-silver;
        color: $color-dark;
    }
}

.form-group {
    margin-bottom: 5px;
}

.tag-select {
    top: 3px;
    position: relative;

    border: 1px solid $color-silver;
    border-radius: 3px;
    padding: 6px;
}
