<div class="custom-mat-table">
  <!-- List Header -->
  <div class="d-flex table-control-header v-center mt-3">
    <app-folder-tree 
      [setFolder]="currentFolder"
      [teamId]="teamId"
      [baseRoute] = "BASE_URL" >            
    </app-folder-tree>
    <div class="form-group mb-0 search-form ml-auto">
      <div class="input-group-prepend">
        <i class="i-icon i-search d-block bgc-dark"></i>
      </div>
      <input
        type="text"
        class="form-control"
        [placeholder]="'Search' | translate"
        aria-label="search"
        aria-describedby="search-addon"
        [(ngModel)]="filterParam.search"
        (ngModelChange)="this.onChangeKeyword.next($event)"
      />
      <ng-container *ngIf="filterParam.search">
        <div class="cancel-action c-pointer" (click)="this.onChangeKeyword.next('')">
          <i class="i-icon i-close d-block bgc-dark"></i>
        </div>
      </ng-container>
    </div>
    <div class="ml-2" ngbDropdown placement="bottom-right">
      <div
        class="v-center c-pointer f-3 p-2 mr-2 font-weight-bold"
        ngbDropdownToggle
      >
        <span class="pr-2">
          <ng-container>
            <span class="font-weight-bold" translate>Sort by</span>
          </ng-container>          
        </span>
      </div>
      <div ngbDropdownMenu aria-labelledby="taskSortTypes">
        <div
          class="py-2"
          ngbDropdownItem
          *ngFor="let type of SORT_TYPES"
          (click)="onChangeSort(type)"
        >
          <span
            class="f-3 v-center"
            [class.font-weight-bold]="type.id === sortType.id"
          >
            {{ type.label | translate }}
            <i
              class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
              *ngIf="type.id === sortType.id"
            ></i>
          </span>
        </div>
      </div>
    </div>

    <div class="ml-2" ngbDropdown placement="bottom-right">
      <div
        class="v-center c-pointer f-3 p-2 mr-2 font-weight-bold"
        ngbDropdownToggle
      >
        <span class="pr-2">
          <ng-container>
            <span class="font-weight-bold" translate>Filter</span>
          </ng-container>          
        </span>
      </div>
      <div ngbDropdownMenu aria-labelledby="taskSortTypes">
        <div
          class="py-2"
          ngbDropdownItem
          *ngFor="let type of FILTER_TYPES"
          (click)="onChangeType(type)"
        >
          <span
            class="f-3 v-center"
            [class.font-weight-bold]="type.id === filterType.id"
          >
            {{ type.label | translate }}
            <i
              class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
              *ngIf="type.id === filterType.id"
            ></i>
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="position-relative mt-2">
    <!-- List View -->
    <div class="mat-table-wrapper" [class.empty]="!filteredItems.length">
      <table
        class="w-100 page-table"
        mat-table
        [dataSource]="
          filteredItems
            | paginate
              : {
                  id: 'page',
                  itemsPerPage: pageSize.id,
                  currentPage: page,
                  totalItems: filteredItems.length
                }
        "
      >
        <ng-container matColumnDef="loader-cell">
          <th
            mat-header-cell
            *matHeaderCellDef
            colspan="12"
            class="loader-cell"
          >
            <div
              class="updating-status"
              *ngIf="filteredItems.length && isLoading"
              translate
            >
              LOADING
            </div>
          </th>
        </ng-container>

        <!-- Selection Info & Master Toggle Actions -->
        <ng-container matColumnDef="selection_info">
          <th
            mat-header-cell
            *matHeaderCellDef
            colspan="12"
            class="text-center"
          >
            <span
              *ngIf="!isAllSelected(); else deselectTemplate"
              [translateParams]="{ length: selectedFiles.length }"
              translate
            >
              template_trans.template_selected
              <span
                class="c-blue font-weight-bold c-pointer ml-2"
                (click)="toggleAllItems()"
                [translateParams]="{ length: fileCount }"
                translate
              >
                template_trans.select_template
              </span>
            </span>
            <ng-template #deselectTemplate>
              <span
                [translateParams]="{ length: selectedFiles.length }"
                translate
                >template_trans.selected_all</span
              >
              <span
                class="c-blue c-pointer font-weight-bold ml-2"
                (click)="toggleAllItems()"
                translate
                >Clear selection</span
              >
            </ng-template>
          </th>
        </ng-container>

        <!-- Select Box -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="pl-0 checkbox-col">
            <div
              class="custom-control custom-checkbox"
              [class.indeterminate]="selectedCount && !isAllSelected()"
            >
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectAllLibTemplates"
                (change)="$event ? togglePageItems() : null"
                [checked]="isPageSelected()"
              />
              <label
                class="custom-control-label"
                for="selectAllLibTemplates"
              ></label>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="pl-0 checkbox-col">
            <div class="custom-control custom-checkbox" *ngIf="element.hasTeamAction">
              <input
                type="checkbox"
                class="custom-control-input"
                id="template-{{element._id}}"
                (change)="toggleItem(element)"
                [checked]="isSelected(element)"
              />
              <label
                class="custom-control-label"
                for="template-{{element._id}}"
              ></label>
            </div>
          </td>
        </ng-container>

        <!-- Thumbnail & Title -->
        <ng-container matColumnDef="title">
          <ng-container *matHeaderCellDef>
            <th
              mat-header-cell
              *ngIf="!selectedCount; else toolHeader"
              class="name-col"
            >
              <div
                class="v-center c-pointer head-sort"
                (click)="changeSort('title')"
              >
                <span
                  [class]="sortField == 'title' ? 'fw-600 c-dark' : ''"
                  translate
                  >Name</span
                >
                <i
                  class="i-icon d-block bgc-black ml-2"
                  [class]="sortDir ? 'i-sort-down' : 'i-sort-up'"
                  *ngIf="sortField == 'title'"
                >
                </i>
              </div>
            </th>
            <ng-template #toolHeader>
              <th mat-header-cell colspan="12">
                <div class="v-center">
                  <ng-container
                    *ngIf="selectedFiles.length; else folderSelectedStatus"
                  >
                    <span
                      class="c-dark f-3 text-lowercase font-weight-bold"
                      translate
                      [translateParams]="{ count: selectedFiles.length }"
                    >
                      count selected
                    </span>
                    <app-actions-header
                      [actions]="BULK_ACTIONS"
                      (doCommand)="doAction($event)"
                      [disableActions]="disableActions"
                    ></app-actions-header>
                  </ng-container>
                  <ng-template #folderSelectedStatus>
                    <span
                      class="c-dark f-3 text-lowercase font-weight-bold"
                      translate
                      [translateParams]="{ count: selectedFolders.length }"
                    >
                      count selected
                    </span>
                    <app-actions-header
                      [actions]="FOLDER_ACTIONS"
                      (doCommand)="doFolderAction($event)"
                    ></app-actions-header>
                  </ng-template>
                </div>
              </th>
            </ng-template>
          </ng-container>

          <td mat-cell *matCellDef="let element" class="name-col">
            <ng-container
              *ngIf="element.item_type === 'folder'; else templateInfoTemplate"
            >
              <ng-container *ngIf="element.team || teamInfo; else normalFolder">
                  <ng-container *ngIf="element.team; else teamFolder">
                    <a
                      class="v-center c-pointer template-main-info td-none"
                      [routerLink]="['/templates/library/' + element.team + '/' + element._id]"
                      [state]="{folderId: element._id, folderName: element.title, isOwn: false}"
                    >
                      <div class="thumbnail">
                        <a>
                          <div class="folder-thumb"></div>
                        </a>
                      </div>
                      <span class="font-weight-bold ci-dark">{{
                        element.title || '' | shorten: 40:'...'
                      }}</span>
                    </a>
                  </ng-container>
                  <ng-template #teamFolder>
                    <a
                      class="v-center c-pointer template-main-info td-none"
                      [routerLink]="['/templates/library/' + teamInfo?._id + '/' + element._id]"
                      [state]="{folderId: element._id, folderName: element.title, isOwn: false}"
                    >
                      <div class="thumbnail">
                        <a>
                          <div class="folder-thumb"></div>
                        </a>
                      </div>
                      <span class="font-weight-bold ci-dark">{{
                        element.title || '' | shorten: 40:'...'
                      }}</span>
                    </a>
                  </ng-template>
              </ng-container>
              <ng-template #normalFolder>
                <a
                  class="v-center c-pointer template-main-info td-none"
                  [routerLink]="['/templates/library/' + element._id]"
                >
                  <div class="thumbnail">
                    <a>
                      <div class="folder-thumb"></div>
                    </a>
                  </div>
                  <span class="font-weight-bold ci-dark">{{
                    element.title || '' | shorten: 40:'...'
                  }}</span>
                </a>
              </ng-template>
            </ng-container>
            <ng-template #templateInfoTemplate>
              <div class="v-center c-pointer template-main-info">
                <a
                  class="v-center c-pointer template-main-info td-none"
                  [routerLink]="['/templates/edit/' + element._id]"
                >
                  <span class="font-weight-bold ci-dark">{{
                    element.title || '' | shorten: 40:'...'
                  }}</span>
                </a>
              </div>
              <div class="responsive-data">
                <div class="type">
                  <span class="info-title">type:</span>
                  <span class="info-value">{{ element.item_type }}</span>
                </div>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="content">
          <ng-container *matHeaderCellDef>
            <th
              mat-header-cell
              class="template-content"
              *ngIf="!selectedCount"
              translate
            >
              Template
            </th>
          </ng-container>
          <td mat-cell *matCellDef="let template" class="template-content">
            <ng-container *ngIf="template.item_type !== 'folder'">
              <h5 class="font-weight-bold f-5 c-black mb-1">
                {{
                  template.subject
                    | stripTags
                    | removeEntity
                    | shorten: 40:'...'
                }}
              </h5>
              <span
                [innerHTML]="
                  template.meta?.excerpt || ''"
              ></span>
            </ng-container>
          </td>
        </ng-container>

        <!-- Owner -->
        <ng-container matColumnDef="owner">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell *ngIf="!selectedCount" class="type-col">
              <div class="v-center c-pointer">
                <span translate>Owner</span>
              </div>
            </th>
          </ng-container>
          <td mat-cell *matCellDef="let element" class="owner-col">
            {{ element.role === 'admin' ? 'System' : element.owner?.user_name || '---' }}
          </td>
        </ng-container>

        <!-- Shared With -->
        <ng-container matColumnDef="share">
          <ng-container *matHeaderCellDef>
            <th
              mat-header-cell
              *ngIf="!selectedCount"
              class="share-col"
              translate
            >
              shared with
            </th>
          </ng-container>
          <td mat-cell *matCellDef="let element" class="share-col">
            <span class="tag rounded mr-2">{{ element.team_info?.name || '---' }}</span>
          </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="type">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell *ngIf="!selectedCount" class="type-col">
              <div
                class="v-center c-pointer head-sort"
                (click)="changeSort('type')"
              >
                <span
                  [class]="sortField == 'type' ? 'fw-600 c-dark' : ''"
                  translate
                  >Type</span
                >
                <i
                  class="i-icon d-block bgc-black ml-2"
                  [class]="sortDir ? 'i-sort-down' : 'i-sort-up'"
                  *ngIf="sortField == 'type'"
                ></i>
              </div>
            </th>
          </ng-container>
          <td
            mat-cell
            *matCellDef="let element"
            class="type-col {{ element.item_type }}"
          >
            <div class="v-center">
              <i
                class="i-icon bgc-dark i-{{ ICONS[element.item_type] }} mr-1"
              ></i>
              <span>{{ element.item_type }}</span>
            </div>
          </td>
        </ng-container>

        <!-- Created -->
        <ng-container matColumnDef="download_count">
          <ng-container *matHeaderCellDef>
            <th mat-header-cell class="time-col" *ngIf="!selectedCount">
              <div
                class="v-center c-pointer head-sort"
                (click)="changeSort('downloads')"
              >
                <span
                  [class]="sortField == 'downloads' ? 'fw-600 c-dark' : ''"
                  translate
                  >Downloads</span
                >
                <i
                  class="i-icon d-block bgc-black ml-2"
                  [class]="sortDir ? 'i-sort-down' : 'i-sort-up'"
                  *ngIf="sortField == 'downloads'"
                ></i>
              </div>
            </th>
          </ng-container>
          <td mat-cell *matCellDef="let element" class="time-col">
            <div class="text-center">{{ element.downloads }}</div>
          </td>
        </ng-container>

        <!-- More Actions -->
        <ng-container matColumnDef="actions">
          <ng-container *matHeaderCellDef>
            <th
              mat-header-cell
              *ngIf="!selectedCount"
              class="sub-item-action"
            ></th>
          </ng-container>
          <td mat-cell *matCellDef="let element" class="sub-item-action">
            <div class="v-center justify-content-between items pr-3" *ngIf="element.hasTeamAction">
              <!-- Download Button -->
              <ng-containter *ngIf="element.role === 'admin' || element.user !== userId; else stopShareBtn">
                <span class="c-dark font-weight-bold" *ngIf="d_status === element._id">
                  <i class="small-spinner"></i>
                </span>
                <button
                  *ngIf="d_status !== element._id"
                  class="v-center btn p-1 c-dark material-send"
                  (click)="download(element)"
                  placement="bottom"
                  [ngbTooltip]="'download to my template list'"
                >
                  <i
                    class="i-icon i-download bgc-dark material-download"
                    aria-hidden="true"
                  ></i>
                </button>
              </ng-containter>
              <ng-template #stopShareBtn>
                <button
                  class="v-center btn p-1 c-dark material-send"
                  (click)="stopShare(element, teamInfo?._id)"
                  placement="bottom"
                  [ngbTooltip]="'Stop Share'"
                  *ngIf="!parentFolder"
                >
                  <i class="i-icon i-share-off bgc-dark" aria-hidden="true"></i>
                </button>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['loader-cell']"
          class="loader-row"
        ></tr>
        <tr
          mat-header-row
          *matHeaderRowDef="DISPLAY_COLUMNS"
          [class.selected]="selectedFiles.length + selectedFolders.length"
          class="table-header"
        ></tr>
        <tr
          mat-header-row
          *matHeaderRowDef="['selection_info']"
          [class.d-none]="!selectedFiles.length"
          class="selection-info"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; let index = index; columns: DISPLAY_COLUMNS"
          [class.folder-row]="row.item_type === 'folder'"
        ></tr>
      </table>
      <div class="my-2 table-control mode-1">
        <div class="pagination-wrapper m-auto" [class.invisible]="filteredItems.length < pageSize.id">
          <pagination-controls
            id="page"
            maxSize="5"
            previousLabel=""
            nextLabel=""
            (pageChange)="changePage($event)"
            (pageBoundsCorrection)="changePage($event)"
          >
          </pagination-controls>
        </div>
        <div
          *ngIf="filteredItems.length > PAGE_COUNTS[0].id"
          class="shadow-dropdown ml-auto page-size-control"
          ngbDropdown
          placement="top-right"
        >
          <div
            class="v-center c-pointer f-3 p-3 font-weight-bold"
            ngbDropdownToggle
          >
            <span
              [attr.data-name]="'template-library-pagesize'"
              class="pr-2 c-blue"
              translate
              [translateParams]="{ count: pageSize.id }"
            >
              pagination
            </span>
          </div>
          <div ngbDropdownMenu aria-labelledby="contactPageSize">
            <div
              class="py-2"
              ngbDropdownItem
              *ngFor="let type of PAGE_COUNTS"
              (click)="changePageSize(type)"
              [attr.data-name]="'template-library-pagesize-' + type.label"
            >
              <span
                class="f-3 v-center"
                [class.font-weight-bold]="type.id === pageSize.id"
              >
                <span translate [translateParams]="{ count: type.label }">
                  pagination
                </span>
                <i
                  class="i-icon i-check d-block bgc-blue sm ml-1 mb-1"
                  *ngIf="type.id === pageSize.id"
                ></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Empty & Loading View -->
    <ng-container *ngIf="!filteredItems.length">
      <div class="empty-list py-5" *ngIf="!isLoading; else loadingTemplate">
        <div class="object-icon v-center">
          <i class="i-icon i-template d-block bgc-dark"></i>
        </div>
        <h4 class="font-weight-bold mt-4 mb-3" translate>There is no templates for shared yet.</h4>
      </div>
      <ng-template #loadingTemplate>
        <div class="list-loading text-center">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2" translate>Loading templates...</h4>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
