<div class="custom-mat-field label-select-wrapper" [class.label_form]="type === 'form'">
  <mat-form-field style="display: block;" appearance="outline" (click)="focusField()">
    <mat-chip-list aria-label="Contact Selection" #contactList>
      <mat-basic-chip >
        <ng-container *ngIf="formControl.value && formControl.value === 'keep'; else normalSelectedLabel">
          <div class="v-center py-1">
            <span class="f-3 fw-600 py-1 px-2" style="min-height: 22px;"></span>
          </div>
        </ng-container>
        <ng-template #normalSelectedLabel>
          <ng-container *ngIf="formControl.value; else emptyLabel">
            <div class="v-center py-1">
              <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="formControl.value.color === '#FFF' ? '#000' : formControl.value.color"></i>
              <span class="f-3 fw-600">{{formControl.value.name}}</span>
            </div>
          </ng-container>
          <ng-template #emptyLabel>
            <div class="v-center py-1">
              <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="'#000'"></i>
              <span class="f-3 fw-600">{{defaultLabel}}</span>
            </div>
          </ng-template>
        </ng-template>
      </mat-basic-chip>
      <input
        #inputField
        [formControl]="formControl"
        [matChipInputFor]="contactList"
        [matAutocomplete]="auto"
      >
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onChangeLabel($event)"
      [class]="(type === 'form' ? 'form-' : '') + 'label-panel'"
    >
      <ng-container *ngIf="hasKeepLabel">
        <mat-option [value]="'keep'"
          style="height: unset; line-height: unset;">
          <div class="v-center py-1 f-3 fw-600">
            <span class="py-1" style="min-height: 24px;"></span>
          </div>
        </mat-option>
      </ng-container>
      <ng-container>
        <ng-container *ngFor="let label of labels">
          <mat-option  [value]="label" style="height: unset; line-height: unset;">
            <div class="v-center py-1 f-3 fw-600">
              <i class="i-icon i-label d-block mr-2" [style.backgroundColor]="label.color === '#FFF' ? '#000' : label.color"></i>
              <span>{{label.name}}</span>
            </div>
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
