.email-templates {
  width: 100%;
  max-width: 664px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;

  .template {
    position: relative;
    height: 96px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    flex-grow: 1;
    flex: 1;
    margin-bottom: 6px;

    &.active {
      border-color: #066FD3;
    }
    .select-icon {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 5px;
      right: 5px;
      .i-icon {
        width: 12px;
        height: 12px;
        min-width: 12px;
      }
    }
  }

  @media screen and (max-width: 390px) {
    .template {
      height: 70px;

      .i-signature-1, .i-signature-2 {
        height: 56px;
        width: 56px;
        min-width: unset;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      .i-signature-3, .i-signature-4 {
        height: 56px;
        width: 24px;
        min-width: unset;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }
    }
  }
}
.email-editor {
  width: 100%;
  max-width: 664px;
}

:host ::ng-deep {
  .quill-better-table {
    border: none!important;
  }  
  .ql-editor {
    padding: 20px 15px;
    @media screen and (max-width: 576px) {
      width: 285px;
    }

    img {
      height: auto;
    }
  }
  .quill-better-table td{
    border: none!important;
  }
  .qlbt-operation-menu {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    font-size: 14px;
    z-index: 100;
    overflow: hidden;
  
    .qlbt-operation-menu-dividing {
      height: 1px;
      background-color: #efefef;
    }
  
    .qlbt-operation-menu-subtitle {
      color: #999;
      font-size: 14px;
      padding: 5px 16px;
    }
  
    .qlbt-operation-color-picker {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 16px 10px;
      background-color: #fff;
      overflow: hidden;
  
      .qlbt-operation-color-picker-item {
        width: 20px;
        height: 20px;
        border: 1px solid #595959;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  
    .qlbt-operation-menu-item {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      background-color: #fff;
      cursor: pointer;
      color: #595959;
      overflow: hidden;
      text-overflow: ellipsis;
  
      &:hover {
        background-color: #efefef;
      }
  
      .qlbt-operation-menu-icon {
        margin-right: 8px;
        height: 20px;
        width: 20px;
        font-size: 0;
      }
    }
  }
  
  .qlbt-col-tool {
    position: absolute;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    z-index: 99;
    height: 16px;
    top: 5px;
  
    .qlbt-col-tool-cell {
      position: relative;
      background-color: #fff;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
  
      &:first-child {
        border-left: 1px solid #000;
      }
    }
  
    .qlbt-col-tool-cell-holder {
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      z-index: 3;
      width: 1px;
      background-color: transparent;
      cursor: ew-resize;
  
      &:hover {
        background-color: #0589f3;
      }
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -6px;
        display: block;
        width: 8px;
        height: 100%;
      }
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        display: block;
        width: 8px;
        height: 100%;
      }
    }
  }

  .ql-font {
    .ql-picker-label {
      font-size: 12px;
    }
    .ql-picker-options {
      height: 150px;
      overflow: auto;
    }
    span[data-value="arial"] {
      &::before {
        content: "Sans Serif" !important;
        font-family: "arial, sans-serif";
      }
    }
    span[data-value="times new roman"] {
      &::before {
        content: "Serif" !important;
        font-family: "times new roman", serif;
      }
    }
    span[data-value="monospace"] {
      &::before {
        content: "Fixed Width" !important;
        font-family: "monospace";
      }
    }
    span[data-value="arial black"] {
      &::before {
        content: "Wide" !important;
        font-family: "arial black", sans-serif;
      }
    }
    span[data-value="arial narrow"] {
      &::before {
        content: "Narrow" !important;
        font-family: "arial narrow", sans-serif;
      }
    }
    span[data-value="comic sans ms"] {
      &::before {
        content: "Comic Sans MS" !important;
        font-family: "comic sans ms", sans-serif;
      }
    }
    span[data-value="garamond"] {
      &::before {
        content: "Garamond" !important;
        font-family: garamond, "times new roman", serif;
      }
    }
    span[data-value="georgia"] {
      &::before {
        content: "Georgia" !important;
        font-family: "georgia, serif";
      }
    }
    span[data-value="tahoma"] {
      &::before {
        content: "Tahoma" !important;
        font-family: "tahoma, sans-serif";
      }
    }
    span[data-value="trebuchet ms"] {
      &::before {
        content: "Trebuchet MS" !important;
        font-family: "trebuchet ms", sans-serif;
      }
    }
    span[data-value="verdana"] {
      &::before {
        content: "Verdana" !important;
        font-family: "verdana", sans-serif;
      }
    }
  }
}

:host ::ng-deep {
  .ql-editor td {
    border: 1px dashed gainsboro;
    padding: 6px;
  }
}