@import 'variables';
.saved-filters {
  display: flex;
  justify-content: space-between;
}

.filter-options {
  position: sticky;
  top: 0;
}

.selected {
  border-left: 4px solid $color-blue;
}

.count-badge {  
  padding: 0.15rem 0rem;
  font-size: 10px;
  border-radius: 12px;  
  min-width: 28px;
  line-height: 14px;
  text-align: center;
  background-color: red;
  color: white;
  z-index: 2;
}

::ng-deep .filter-options-tooltip .tooltip-inner {
  z-index: 500 !important;
  position: relative !important;
  word-break: break-all !important;
  text-align: start !important;
  left: 16px;
}
