<form #form="ngForm" (ngSubmit)="form.form.valid? submit() : false;" [class.was-validated]="form.submitted">
  <h1 mat-dialog-title translate>New Note</h1>
  <mat-dialog-content>
    <ng-container *ngIf="type != 'deal' else dealContacts">
      <ng-container *ngIf="isSelected; else selectContactTemplate">
        <div class="f-6 mb-2">
          {{ 'Adding to' | translate }}
          <span class="f-6 c-blue font-weight-bold">{{ contacts[0].fullName }}</span>
          <ng-container *ngIf="contacts.length > 1">
            {{ 'and' | translate }}
            <span class="f-6 c-blue font-weight-bold pr-0">{{contacts.length - 1}} {{(contacts.length - 1) === 1 ? ('other.' | translate) : ('others.' | translate)}}</span>
          </ng-container>
          <sapn class="p-0 m-0" translate>.</sapn>
        </div>
      </ng-container>
      <ng-template #selectContactTemplate>
        <div class="form-group">
          <div class="d-flex">
            <label class="d-block mb-0" translate>Contact</label>
            <!-- <span class="ml-auto error" *ngIf="!contacts.length" translate>Required!</span> -->
          </div>
          <app-select-contact (onSelect)="selectContact($event)" [isDefaultOpened]="true"></app-select-contact>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #dealContacts>
      <div class="form-group">
        <div class="f-6 mb-2">
          {{ 'Adding to' | translate }}
        </div>
        <div class="new-contacts-wrapper mt-2" (click)="setFocus()">
          <app-input-contact-chip [selectedContacts]="contacts" [display]="'email'" [shouldFromSearch]="true"
            [shouldBeSubscriber]="false" [isDealContact]="true" (onFocus)="setFocus()" [focus]="isFocus()" class="w-100">
          </app-input-contact-chip>
        </div>
      </div>
    </ng-template>
    <div class="form-group has-feedback mt-2" (click)="blueAll()">
      <div class="d-flex">
        <label class="mb-0" translate>Content</label>
        <span class="ml-auto error" *ngIf="!note.content" translate>Required!</span>
      </div>
      <app-html-editor
        [(value)]="note.content"
        [hasToken]="false"
        [hasTemplates]="false"
        [noImage]="true"
        [style]="{height: '120px'}"
        [storeAudio]="true"
        #editor
      >
      </app-html-editor>
      <div class="mt-2">
        <app-audio-note
          [url]="note.audio"
          (onRecorded)="insertAudioNote($event)"
          (onRemoved)="removeAudioNote()"
          #recorder
        ></app-audio-note>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn c-blue" type="button" (click)="close()">{{ 'Cancel' | translate }}</button>
    <button data-action="deal-note-create" class="btn btn-primary" type="submit" [class.loading]="saving">{{ 'Create' | translate }}</button>
  </mat-dialog-actions>
</form>
