<div class="page-content">
  <app-back-button
    [defaultTitle]="'Forms'"
    [defaultRoute]="'/lead-hub/lead-capture'"
  ></app-back-button>
  <div class="v-center justify-content-between mb-3">
    <h1 class="page-title" translate>Form Detail</h1>
    <a [attr.data-action]="'edit-lead-form'" class="v-center f-3 fw-600 ml-auto c-blue c-pointer ng-star-inserted" [routerLink]="'/lead-hub/lead-capture/edit/' + form?._id">
      <i class="d-block i-icon i-edit bgc-blue mr-2"></i>
      <span translate>Edit</span>
    </a>
    <div [attr.data-action]="'download-history'" class="btn v-center c-pointer ng-star-inserted btn-primary ml-4" (click)="createCSV()">
      <i class="d-block i-icon i-download bgc-white mr-2"></i>
      <span translate>Download Responses (CSV)</span>
    </div>
  </div>

  <div class="position-relative mt-2">
    <ng-container *ngIf="form">
      <div class="f-24 font-weight-bold mb-3">{{ name }}</div>
      <div class="v-center justify-content-between w-100">
        <div class="flex-grow-1">
          <div class="f-4 c-dark font-weight-bold">Connected Automation</div>
          <div class="f-4 text-muted font-weight-bold mt-1">{{ automation || 'None' }}</div>
        </div>
        <div class="flex-grow-1">
          <div class="f-4 c-dark font-weight-bold">Tags</div>
          <div class="v-center mt-1 flex-wrap" *ngIf="form.tags.length">
            <span class="tag-el" *ngFor="let tag of form.tags">
              {{tag}}
            </span>
          </div>
          <div class="f-4 text-muted font-weight-bold mt-1" *ngIf="form.tags.length === 0"> None </div>
        </div>
      </div>
      <div class="f-4 c-dark font-weight-bold mt-3">Tracked History</div>
      <div class="mat-table-container" *ngIf="formTracks.length">
        <table mat-table [dataSource]="formTracks | paginate: {itemsPerPage: pageSize.id, currentPage: page, id: 'trackinghistory', totalItems: totalCount}" >
          <!-- Name Column -->
          <ng-container matColumnDef="contact_name">
            <th mat-header-cell *matHeaderCellDef class="sticky-column-first"> Name </th>
            <td mat-cell *matCellDef="let element" class="sticky-column-first">
              <a class="v-center c-pointer table-cell text-decoration-none" [routerLink]="'/contacts/' + element.contact?._id">
                <div class="contact-avatar f-3 mr-2">
                  {{ getAvatarName(element.contact) }}
                </div>
                <span >{{ getContactName(element.contact) }}</span>
              </a>
            </td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef class="sticky-column-second"> Created At </th>
            <td mat-cell *matCellDef="let element" class="sticky-column-second">
              <div class="v-center table-cell">
                <span>{{ element.created_at | date: 'MMM d, hh:mm a' }}</span>
              </div>
            </td>
          </ng-container>

          <!-- Dynamic Column Headers -->
          <ng-container *ngFor="let field of fields" [matColumnDef]="field.match_field">
            <th mat-header-cell *matHeaderCellDef class="table-cell"> {{ field.name | titlecase }} </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="field.type === 'date'" class="v-center table-cell">
                <span>{{ element.data[field.match_field] | date: "MM/dd/YYYY" }}</span>
              </div>
              <div *ngIf="field.type !== 'date'" class="v-center table-cell" #cellElement ngbTooltip="{{ isOverflowing(cellElement) ?  element.data[field.match_field] : '' }}">
                <span>{{ element.data[field.match_field] }}</span>
              </div>
            </td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-container *ngIf="totalCount > MIN_ROW_COUNT">
          <div class="my-2 table-control mode-1">
            <div class="pagination-wrapper m-auto">
              <pagination-controls 
                (pageChange)="changePage($event)" 
                (pageBoundsCorrection)="onOverPages($event)" 
                id="trackinghistory" 
                maxSize="5"
                previousLabel="" 
                nextLabel="">
              </pagination-controls>
            </div>
            <div class="shadow-dropdown ml-auto page-size-control" ngbDropdown placement="top-right">
              <div class="v-center c-pointer f-3 p-3 font-weight-bold" ngbDropdownToggle>
                <span id="task-show-count-page" class="pr-2 c-dark">{{'Show' || translate}} {{pageSize.id}} {{'rows per page' | translate}}</span>
              </div>
              <div ngbDropdownMenu aria-labelledby="contactPageSize">
                <div class="py-2" ngbDropdownItem *ngFor="let type of PAGE_COUNTS; let i = index" (click)="changePageSize(type)">
                  <span id="page-count-select-{{i}}" class="f-3 v-center" [class.font-weight-bold]="type.id === pageSize.id">
                    {{'Show' | translate}} {{type.label}} {{'rows per page' | translate}}
                    <i class="i-icon i-check d-block bgc-dark sm ml-1 mb-1" *ngIf="type.id === pageSize.id"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <!-- Empty & Loading View -->
    <ng-container *ngIf="!formTracks.length">
      <div class="empty-list py-5" *ngIf="!isLoading; else loadingForm">
        <div class="object-icon v-center">
          <i class="i-icon i-material d-block bgc-dark"></i>
        </div>
        <h4 class="font-weight-bold mt-4 mb-3" translate>
          There is no tracks for this form.
        </h4>
      </div>
      <ng-template #loadingForm>
        <div class="list-loading text-center">
          <div class="loader mt-5 lg"></div>
          <h4 class="fw-600 mt-2" translate>Loading pipelines...</h4>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>

