@import 'variables';
.title-container {
  padding: 32px 48px 24px 48px;
  background: #E6E6E6;

  & .btn-close {
    width: 24px;
    height: 24px;

    & i {
      width: 24px;
      height: 24px;
    }
  }
}

.tab-group-container {
  padding: 32px 48px;
}

:host ::ng-deep {
  & .mat-dialog-title {
    margin: 0px;
  }
  & .mat-tab-labels {
    gap: 8px;
  }
  & .mat-tab-label {
    opacity: 1 !important;
    min-width: 60px !important;
    padding: 0px 8px !important;
  }

  & .mat-tab-label-active {
    color: #066FD3 !important;
  }

  & .mat-ink-bar {
    background-color: #066FD3 !important;
  }

  & .dropdown-toggle::after {
    content: none; /* Removes the ::after pseudo-element */
  }

  & .mat-dialog-content {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
  }

  & .mat-tab-body-content {
    overflow: hidden !important;
  }
  & .mat-dialog-content {
    max-height: 100vh;
    margin: 0px;
    padding: 0px
  }
}
.mat-dialog-title {
  margin: 0px;
}

@media screen and (max-width: 670px) {
  .title-container {
    padding: 16px 16px 12px 12px;
  }

  .tab-group-container {
    padding: 16px;
  }

  .deal-title {
    width: 150px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
