.custom-radio-container {
    width: 20px;
    height: 20px;

    label {
        height: 20px;
        opacity: 1;

        &::before {
            right: -20px;
        }

        &::after {
            right: -16px;
        }
    }
}

.password-type {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

// added by sylla
.btn-link {
    color: black;

    :hover {
        color: black;
    }

    ::before {
        color: black;
    }

    ::after {
        color: black;
    }
}
// end by sylla