.form-group {
  margin-bottom: 16px;
}

.name-box input {
  height: 38px;
}

.i-icon {
  width: 12px !important;
  height: 12px !important;
  min-width: 12px !important;
}

.i-tag-plus {
  width: 18px;
  height: 18px;
}

.i-circle-minus {
  width: 16px;
  height: 16px;
}

.form-append-icon {
  position: absolute;
  right: 16px;
  bottom: 20px;
  transform: translateY(50%);

  .i-triangle-down.sm {
      width: 6px;
      height: 6px;
  }
}

.additional-fields{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.form-checking-result {
  position: absolute;
  z-index: 113;
  box-shadow: 0px 0px 2px #aaa;
  max-height: 150px;
  overflow-y: scroll;
  bottom: 0px;
  transform: translateY(100%);
  right: 10px;
  background: #ffffff;
  border-radius: 4px;
  width: calc(100% - 18px);
  right: 9px;
}
.title .error {
  font-size: 12px;
  color: red;
  display: block;
  line-height: 1;
  font-weight: 600;
}
.title h1 {
  font-size: 24px;
  font-weight: bold;
}
.secondary-contact {
  i {
      width: 12px;
      height: 12px;
      min-width: 12px;
  }
}


:host ::ng-deep {
  .mat-dialog-content {
      max-height: calc(65vh - 50px);
      .contact-alert {
          background: #FFFBE6;
          border: 1px solid #FFE58F;
          border-radius: 2px;
      }
  }
}

.no-border {
  border: none;
  box-shadow: none; /* Optional: To remove any shadow around the select */
  background-color: transparent; /* Optional: To make the background transparent */
  font-size: 13px;
}

.form-selector {
  width: 40%!important;
}

.form-group.has-invalid .error {
  display: block!important;
}
.form-group.has-invalid.phone-form {
  .error {
      display: none!important;
  }
  &.invalid-phone {
      .error {
          display: block!important;
      }
  }
}
::ng-deep .cdk-global-overlay-wrapper {
  z-index: 1001;
}

.value-input {
  flex: 1;
}

.primary-picker {
  width: 160px!important;
  margin-left: 16px!important;
  margin-right: 16px!important;
}

.label-picker {
  width: 160px!important;
  margin-right: 0px!important;
}

@media screen and (max-width: 575px) {
  .value-input-wrapper {
    flex-wrap: wrap;
  }

  .primary-picker {
    width: calc(100% - 40px)!important;
    margin-right: 16px !important;
    margin-left: 0px !important;
  }

  .value-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .name-box {
    .pl-2 {
      padding-left: 16px!important;
    }
    .pr-2 {
      padding-right: 16px!important;
    }
  }
}

.custom-radio-container {
  width: 40px;
  margin-left: -10px;
  box-sizing: border-box;
  padding-top: 6px;
  height: 36px;
}

label {
  display: block;
  height: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

.multiple-addresses {
  margin-left: 30px;
}

.row {
  margin-left: -8px!important;
  margin-right: -8px!important;

  & > [class^='col-'] {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

:host ::ng-deep {
  .form-group {
    margin-bottom: 10px !important;
    label {
      font-size: 12px !important;
    }
    .form-control {
      font-size: 12px !important;
    }
  }
  .row {
    margin-left: -8px!important;
    margin-right: -8px!important;

    & > [class^='col-'] {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }
}

.empty-additional-info-placeholder {
  text-align: center;
  font-size: 13px;
  padding: 16px 2px;
  font-weight: 400;
  opacity: 0.4;
}
