<div class="page-content d-flex">
  <div class="campaign-bulk-mailing-item-page">
    <app-back-button defaultTitle="Scheduled Items list" defaultRoute="/scheduled-items"></app-back-button>
    <div>
      <div class="page-title font-weight-bold d-flex align-items-center">
        <span class="title-content">
          {{ (queueType === 'email' ? 'Email' : 'Texting') | translate }}&nbsp;
          {{ (detailType ? '(' + detailType + ')' : '') | translate }}
        </span>
        <div class="c-pointer ml-auto" ngbDropdown placement="bottom">
          <div data-name="scheduled-item-menu-more" ngbDropdownToggle class="no-carot">
            <i class="i-icon bgc-dark i-menu-more d-block"></i>
          </div>
          <div ngbDropdownMenu class="light">
            <div data-name="scheduled-item-record-play" class="dropdown-item c-dark v-center" *ngIf="execStatus === 'draft' || execStatus === 'pausing'"
              (click)="resumeTask()">
              <i class="i-icon i-record-play bgc-dark d-block mr-2"></i>
              <span translate>Resume</span>
            </div>
            <div data-name="scheduled-item-record-pause" class="dropdown-item c-dark v-center" *ngIf="execStatus === 'scheduled' || execStatus === 'awaiting' || execStatus === 'progressing'"
              (click)="pauseTask()">
              <i class="i-icon i-record-pause bgc-dark d-block mr-2"></i>
              <span translate>Pause</span>
            </div>
            <div data-name="reschedule-due-time" class="dropdown-item c-dark v-center" (click)="rescheduleTask()">
              <i class="i-icon i-schedule-send bgc-dark d-block mr-2"></i>
              <span translate>Reschedule due time</span>
            </div>
            <div class="dropdown-item c-dark v-center" *ngIf="detailType !== 'scheduled' && detailType !== 'normal'"
              (click)="changeRecurrence()">
              <i class="i-icon i-contact-merge bgc-dark d-block mr-2"></i>
              <span translate>Change recurrence</span>
            </div>
            <div class="dropdown-item c-dark v-center" (click)="cancelTask()" data-name="schedule-cancel">
              <i class="i-icon i-trash bgc-dark d-block mr-2"></i>
              <span translate>Delete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="page-status" *ngIf="execStatus">
        <div class="task-status f-3 {{execStatus}}">{{STATUS[execStatus]}}</div>
        <div class="task-time f-3" *ngIf="execStatus !== 'completed'">{{ 'Due Date' | translate }}: {{ nextTime | datetimeFormat : 'MM/DD/yyyy hh:mm a'}}</div>
      </div>
    </div>
    <div class="bulk-contents mt-3">
      <div class="bulk-mailing-status">
        <div class="status-item blue-item" (click)="changePanel('awaiting')">
          <div class="v-center category">
            <i class="i-icon i-opened-mail" aria-hidden="true"></i>
            <span class="f-1 font-weight-bold ml-2 text-uppercase">{{source === 'schedule' ? 'Scheduled' : 'Awaiting' | translate}}</span>
          </div>
          <div class="mt-2 f-30 count-number">{{loading ? '--' : status.awaiting}}</div>
        </div>
        <div class="status-item green-item" (click)="changePanel('delivered')">
          <div class="v-center category">
            <i class="i-icon i-delivered-mail" aria-hidden="true"></i>
            <span class="f-1 font-weight-bold ml-2 text-uppercase" translate>Delivered</span>
          </div>
          <div class="mt-2 f-30 count-number">{{loading ? '--' : status.delivered}}</div>
        </div>
        <div class="status-item red-item" (click)="changePanel('failed')">
          <div class="v-center category">
            <i class="i-icon i-delivered-mail" aria-hidden="true"></i>
            <span class="f-1 font-weight-bold ml-2 text-uppercase" translate>Failed</span>
          </div>
          <div class="mt-2 f-30 count-number">{{loading ? '--' : status.failed}}</div>
        </div>
      </div>
    </div>
    <div class="templates-container mt-5 form-group">
      <div>
        <div class="d-flex">
          <label class="mr-2">{{queueType}} {{ 'Content' | translate }}</label>
          <a *ngIf="isAbleEdit && !isEditing" class="ml-auto" (click)="changeEmailForm()">
            <i class="i-icon d-block i-edit bgc-dark"></i>
          </a>
        </div>
        <ng-container *ngIf="!loading">
          <ng-container *ngIf="!isEditing; else editForm">
            <ng-container *ngIf="queueType === 'email'; else textContentTemplate">
              <div class="font-weight-bold f-4 content-word">{{template?.subject}}</div>
              <div class="" *ngIf="!showFullTemplate; else fullEmailTemplate">
                <div class="f-3 fw-600 c-dark content-word">{{template?.content || '' | stripTags | removeEntity | shorten: 150: '...'}}</div>
                <a class="f-2 font-weight-bold c-blue c-pointer mt-2" (click)="showFullTemplate = true">{{ 'View full' |
                  translate }}</a>
              </div>
              <ng-template #fullEmailTemplate>
                <div class="f-3 fw-600 c-dark content-word" [innerHTML]="template?.content"></div>
                <a class="f-2 font-weight-bold c-blue c-pointer mt-2" (click)="showFullTemplate = false" translate>{{
                  'Hide full' | translate }}</a>
              </ng-template>
            </ng-container>
            <ng-template #textContentTemplate>
              <div class="" *ngIf="!showFullTemplate; else fullTextTemplate">
                <div class="f-3 fw-600 c-dark content-word">{{template?.content || '' | shorten: 150: '...'}}</div>
                <a class="f-2 font-weight-bold c-blue c-pointer mt-2" (click)="showFullTemplate = true">{{ 'View full' |
                  translate }}</a>
              </div>
              <ng-template #fullTextTemplate>
                <div class="f-3 fw-600 c-dark content-word">{{template?.content}}</div>
                <a class="f-2 font-weight-bold c-blue c-pointer mt-2" (click)="showFullTemplate = false">{{ 'Hide full'
                  | translate }}</a>
              </ng-template>
            </ng-template>
          </ng-container>
          <ng-template #editForm>
            <app-template [inline]="true" [initMode]="'inline-edit'" [initTemplate]="template"
              [wrapperClass]="'inline-form-editor'" (onClosePage)="onChangeEmailTemplate($event)">
            </app-template>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="action-panel position-relative" *ngIf="!loading">
    <div class="action-panel-header d-flex">
      <div class="form-group mb-0 search-form">
        <div class="input-group-prepend">
          <i class="i-icon i-search d-block bgc-dark"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search-addon"
          [(ngModel)]="searchStr" (ngModelChange)="changeSearchStr()">
        <ng-container *ngIf="searchStr">
          <div class="cancel-action c-pointer" (click)="clearSearchStr()">
            <i class="i-icon i-close d-block bgc-dark"></i>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="contacts[currentPanel].loading && contacts[currentPanel].data.length">
        <div class="updating-status">
          {{ 'LOADING' | translate }}
        </div>
      </ng-container>
    </div>

    <table class="w-100 page-table" mat-table multiTemplateDataRows
      [dataSource]="(contacts[currentPanel].data || []) | paginate: {id: 'panelPage', itemsPerPage: pageSize.id, currentPage: page || 1, totalItems: status[currentPanel]}">
      <ng-container matColumnDef="contact_name">
        <th mat-header-cell *matHeaderCellDef>{{ 'Contact Name' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <div class="v-center c-pointer" (click)="openContact(element)">
            <div class="contact-avatar f-3 mr-2">
              {{element.avatarName}}
            </div>
            <span class="contact-name">
              <ng-container *ngIf="element?.not_found; else normalTemplate;">
                {{element.fullName | shorten: 8: '...'}}
              </ng-container>
              <ng-template #normalTemplate>
                {{element.fullName}}
              </ng-template>
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="contact_label">
        <ng-container *matHeaderCellDef="let element">
          <ng-container *ngIf="element?.not_found; else normalTemplate;">
            <th mat-header-cell colspan="10"></th>
          </ng-container>
          <ng-template #normalTemplate>
            <th mat-header-cell>{{ 'Status' | translate }}</th>
          </ng-template>
        </ng-container>
        <ng-container *matCellDef="let element">
          <ng-container *ngIf="element?.not_found; else normalTemplate;">
            <td mat-cell colspan="10">
              {{ 'This contact has been deleted' | translate }}.
            </td>
          </ng-container>
          <ng-template #normalTemplate>
            <td mat-cell>
              <app-label-select [value]="element?.label"></app-label-select>
            </td>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="last_activity">
        <ng-container *matHeaderCellDef="let element">
          <th mat-header-cell *ngIf="!element?.not_found">
            {{ 'Last Activity' | translate }}
          </th>
        </ng-container>
        <ng-container *matCellDef="let element">
          <td mat-cell *ngIf="!element?.not_found">
            <div class="v-center">
              <i class="act-icon normal {{'act-'+element.last_activity?.type}} d-block mr-2"></i>
              <span>{{element.last_activity?.content | shorten: 20: '...'}}</span>
            </div>
          </td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="contact_email">
        <ng-container *matHeaderCellDef="let element">
          <th mat-header-cell *ngIf="!element?.not_found">
            {{ (queueType === 'text' ? 'Phone' : 'Email') | translate }}
          </th>
        </ng-container>
        <ng-container *matCellDef="let element">
          <td mat-cell *ngIf="!element?.not_found">
            {{queueType === 'text' ? element.cell_phone : element.email}}
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="status">
        <ng-container *matHeaderCellDef="let element">
          <th mat-header-cell *ngIf="!element?.not_found">
            {{ 'Condition' | translate }}
          </th>
        </ng-container>
        <ng-container *matCellDef="let element">
          <td mat-cell *ngIf="!element?.not_found" class="text-capitalize">
            {{ element.status }}
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="action">
        <ng-container *matHeaderCellDef="let element">
          <th mat-header-cell *ngIf="!element?.not_found"></th>
        </ng-container>
        <ng-container *matCellDef="let element">
          <td mat-cell *ngIf="!element?.not_found">
            <ng-container *ngIf="element?.status == 'scheduled' || element?.status == 'awaiting'">
              <div class="icon-button v-center justify-content-center c-pointer" (click)="cancelContact(element)"
                placement="left" ngbTooltip="Cancel">
                <i class="i-icon bgc-dark i-trash"></i>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" colspan="10">
          {{element?.failed_reason}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="DISPLAY_COLUMNS" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: DISPLAY_COLUMNS;"
        [class.failed]="row.not_found || row.status === 'failed' || row.failed"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" [class.d-none]="!(row.failed)"
        class="failed-reason"></tr>
    </table>

    <ng-container *ngIf="!contacts[currentPanel].data.length">
      <ng-container *ngIf="contacts[currentPanel].loading; else emptyContactList">
        <div class="list-loading text-center">
          <div class="loader mt-2"></div>
          <h6 class="fw-600 mt-2" translate>Loading</h6>
        </div>
      </ng-container>
      <ng-template #emptyContactList>
        <div class="empty-list pt-4">
          <div class="object-icon v-center">
            <i class="i-icon i-lunch d-block bgc-dark"></i>
          </div>
          <h5 class="font-weight-bold mt-3 mb-3" [translateParams]="{panel: currentPanel}" translate>
            There are no panel contacts
          </h5>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="contacts[currentPanel].data.length > MIN_ROW_COUNT">
      <div class="my-2 table-control mode-1">
        <div class="pagination-wrapper d-flex justify-content-center">
          <pagination-controls (pageChange)="changeContactPage($event)" (pageBoundsCorrection)="changeContactPage($event)" id="panelPage" maxSize="5"
            previousLabel="" nextLabel="">
          </pagination-controls>
        </div>
        <div class="shadow-dropdown ml-auto page-size-control" ngbDropdown placement="top-right">
          <div class="v-center c-pointer f-3 p-3 font-weight-bold" ngbDropdownToggle>
            <span class="pr-2 c-dark">{{'Show' || translate}} {{pageSize.id}} {{'rows per page' | translate}}</span>
          </div>
          <div ngbDropdownMenu aria-labelledby="pandelPageSize" style="z-index: 10 !important;">
            <div class="py-2" ngbDropdownItem *ngFor="let type of PAGE_COUNTS" (click)="changePageSize(type)">
              <span class="f-3 v-center" [class.font-weight-bold]="type.id === pageSize.id">
                {{'Show' | translate}} {{type.label}} {{'rows per page' | translate}}
                <i class="i-icon i-check d-block bgc-dark sm ml-1 mb-1" *ngIf="type.id === pageSize.id"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
