.avatar {
  line-height: 28px;
}

.custom-radio-container {
  width: 20px;
  height: 20px;

  label {
    height: 20px;
    opacity: 1;

    &::before {
      right: -20px;
    }
    &::after {
      right: -16px;
    }
  }
}
