<!-- <div class="language-options">
  <div ngbDropdown display="dynamic">
    <div class="c-pointer no-carot" ngbDropdownToggle>
      <i class="i-flag {{selectedLanguage?.icon}}"></i>
    </div>
    <div ngbDropdownMenu>
      <div class="dropdown-item" *ngFor="let option of languages" (click)="changeLang(option)">
        <i class="i-flag {{option.icon}}"></i>
        <span class="ml-2 f-3 op-75">{{option.country}}</span>
      </div>
    </div>
  </div>
</div> -->
<div class="auth-page">
  <router-outlet></router-outlet>
</div>
