a.copy-icon {
  display: inline-block;
}

ul {
  padding: 0rem;

  li {
    margin-bottom: 0.5rem;

    code {
      display: block;
      background: gainsboro;
      border: 1px solid gray;
      border-radius: 4px;
      padding: 8px;
      color: black;
    }
  }
}