.social-icon {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #edf5fe;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    img {
        width: 24px;
    }
}

:host ::ng-deep {
    share-button {
        opacity: 0;
        margin: 0;
        button {
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
    }
}