<div class="card border-0 rounded-lg px-2 py-5 px-sm-5">
  <div class="mx-3 mt-2">
    <img class="logo" [src]="sspaService.toAsset('img/crmgrow-logo.svg')">
    <h4 class="text-center font-weight-bold mb-4">
      {{'auth.reset_password.title' | translate}}
    </h4>
    <p class="f-3 text-center">
      {{'auth.reset_password.desc_line_1' | translate}}
      <br/>
      {{'auth.reset_password.desc_line_2' | translate}}
    </p>
  </div>
  <div class="my-3">
    <form role="form" #resetForm="ngForm" (ngSubmit)="submitted=true; resetForm.form.valid && confirm_password == newData.password  ? resetPassword() : false;" >
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && email.invalid && (email.dirty || email.touched || resetForm.submitted)}">
        <div class="d-flex">
          <label for="email" class="mr-auto">
            {{'auth.reset_password.email' | translate}}
          </label>
          <span class="error" *ngIf="email.errors">
            <ng-container *ngIf="email.errors.required">
              {{'auth.reset_password.required' | translate}}
            </ng-container>
            <ng-container *ngIf="email.errors.pattern">
              {{'auth.reset_password.email_invalid' | translate}}
            </ng-container>
          </span>
        </div>
        <input class="form-control br-default" placeholder="{{'auth.reset_password.email_placeholder' | translate}}" type="email" id="email" [(ngModel)]="newData.email" required name="email" #email="ngModel">
      </div>
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && code.errors && (code.touched || code.dirty || resetForm.submitted )}">
        <div class="d-flex">
          <label for="code" class="mr-auto">
            {{'auth.reset_password.code' | translate}}
          </label>
          <span class="error" *ngIf="code.errors && (code.touched || code.dirty || submitted ) && submitted">
            {{'auth.reset_password.required' | translate}}
          </span>
        </div>
        <input class="form-control br-default" placeholder="{{'auth.reset_password.code_placeholder' | translate}}" type="text" id="code" data-name="code" [(ngModel)]="newData.code" required name="code" #code="ngModel">
      </div>
      <div class="form-group" [ngClass]="{invalid: resetForm.submitted && password.errors && (password.touched || password.dirty || resetForm.submitted )}">
        <div class="d-flex">
          <label for="password" class="mr-auto">{{'auth.reset_password.password' | translate}}</label>
          <span class="error" *ngIf="password.errors && (password.touched || password.dirty || submitted ) && submitted">
                  <span [hidden]="!password.errors.required">
                    {{'auth.reset_password.required' | translate}}
                  </span>
                  <span [hidden]="!password.errors.minlength">
                    {{'auth.reset_password.password_invalid' | translate}}
                  </span>
                </span>
        </div>
        <input class="form-control br-default" placeholder="{{'auth.reset_password.password_placeholder' | translate}}" type="password" id="password" data-name="password-to-reset" [(ngModel)]="newData.password" required name="password" #password="ngModel" minlength="6">
      </div>
      <div class="form-group mb-0" [ngClass]="{invalid: resetForm.submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || resetForm.submitted )) || confirm_password != newData.password)}">
        <div class="d-flex">
          <label for="confirmPassword" class="mr-auto">
            {{'auth.reset_password.confirm' | translate}}
          </label>
          <span class="error" *ngIf="submitted && ((confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted )) || confirm_password != newData.password)">
                <ng-container *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty || submitted ) else validConfirmTemplate">
                  {{'auth.reset_password.confirm_invalid' | translate}}
                </ng-container>
                <ng-template #validConfirmTemplate>
                  {{'auth.reset_password.confirm_invalid' | translate}}
                </ng-template>
              </span>
        </div>
        <input class="form-control br-default" placeholder="{{'auth.reset_password.confirm_placeholder' | translate}}" type="password" id="confirmPassword" data-name="password-to-reset-confirm" [(ngModel)]="confirm_password" required name="confirmPassword" #confirmPassword="ngModel" minlength="8">
      </div>
      <div class="custom-control custom-control-alternative text-right">
        <a routerLink="/forgot-password" class="small font-weight-bold">
          {{'auth.reset_password.send_code' | translate}}
        </a>
      </div>
      <div class="text-center d-block">
        <button type="submit" class="btn btn-primary my-4 w-100" [class.loading]="loading">
          {{'auth.reset_password.button' | translate}}
        </button>
      </div>
    </form>
    <div class="mt-auto text-center small">
      {{'auth.forgot_password.no_have_account' | translate}} 
        <a routerLink="/signup" class="font-weight-bold">
          {{'auth.forgot_password.sign_up' | translate}}
        </a>
    </div>
  </div>
</div>

