<div class="page-content">
    <div class="v-center justify-content-between mb-3">
      <h1 class="page-title" translate>Pipelines Library</h1>
    </div>
    <div class="custom-mat-table">
        <div class="custom-header v-center">
            <div class="form-group mb-0 search-form">
                <div class="input-group-prepend">
                    <i class="i-icon i-search d-block bgc-dark"></i>
                </div>
                <input
                    type="text"
                    class="form-control"
                    [placeholder]="'Search' | translate"
                    aria-label="search"
                    aria-describedby="search-addon"
                    [(ngModel)]="filterParam.search"
                    (ngModelChange)="this.onChangeKeyword.next($event)"
                >
                <ng-container *ngIf="filterParam.search">
                    <div class="cancel-action c-pointer" (click)="this.onChangeKeyword.next('')">
                    <i class="i-icon i-close d-block bgc-dark"></i>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="my-3 position-relative">
            <div class="mat-table-wrapper" [class.empty]="!filteredItems.length">
                <table mat-table class="w-100 pipeline-table page-table" multiTemplateDataRows
                    [dataSource]="filteredItems | paginate: {itemsPerPage: pageSize.id, currentPage: page, id: 'libraryTable', total: filteredItems.length}">
                    <ng-container matColumnDef="root-folder">
                        <th mat-header-cell *matHeaderCellDef colspan="6" class="root-folder">
                            <a [routerLink]="['/pipelines-library']" class="c-dark text-decoration-none">
                                <div class="v-center c-dark c-pointer">
                                    <i class="i-icon bgc-dark i-folder mr-1"></i>
                                    <span translate>.. to root</span>
                                </div>
                            </a>
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="prev-folder">
                        <th mat-header-cell *matHeaderCellDef colspan="6" class="c-dark root-folder">
                            <ng-container *ngIf="teamInfo && parentFolder; else adminFolder">
                                <div class="v-center c-pointer" [routerLink]="['/pipelines-library/' + teamInfo?._id + '/' + parentFolder]">
                                    <i class="i-icon bgc-dark i-folder mr-1"></i>
                                    <span class="c-dark font-weight-bold" translate>.. to prev</span>
                                </div>
                            </ng-container>
                            <ng-template #adminFolder>
                                <div class="v-center c-pointer" [routerLink]="['/pipelines-library/' + parentFolder]">
                                    <i class="i-icon bgc-dark i-folder mr-1"></i>
                                    <span class="c-dark font-weight-bold" translate>.. to prev</span>
                                </div>
                            </ng-template>
                        </th>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <ng-container *matHeaderCellDef>
                            <th mat-header-cell *ngIf="!(selectedFiles.length + selectedFolders.length);"  class="title">
                                <div class="v-center c-pointer head-sort" (click)="changeSort('title')">
                                    <span [class]="selectedSort == 'title' ? 'font-weight-bold c-dark' : ''" translate>Title</span>
                                    <i class="i-icon d-block bgc-dark ml-2" [class]="filterParam.title ? 'i-sort-down' : 'i-sort-up'"
                                        *ngIf="selectedSort == 'title'"></i>
                                </div>
                            </th>
                        </ng-container>
                        <td mat-cell *matCellDef="let element" class="title">
                            <a [routerLink]="['/pipeline/' + element._id]" class="c-dark td-none"
                                *ngIf="element.item_type !== 'folder'; else folderTitle">
                                <span class="f-3 font-weight-bold">{{element.title}}</span>
                            </a>
                            <ng-template #folderTitle>
                                <ng-container *ngIf="element.team || teamInfo;">
                                    <ng-container *ngIf="element.team; else teamFolder">
                                        <a [routerLink]="['/pipelines-library/' + element.team + '/' + element._id]" class="c-dark td-none">
                                            <div class="v-center c-pointer">
                                                <i class="i-icon bgc-dark i-folder mr-1"></i>
                                                <span class="f-3 font-weight-bold">{{element.title}}</span>
                                            </div>
                                        </a>
                                    </ng-container>
                                    <ng-template #teamFolder>
                                        <a [routerLink]="['/pipelines-library/' + teamInfo?._id + '/' + element._id]" class="c-dark td-none">
                                            <div class="v-center c-pointer">
                                                <i class="i-icon bgc-dark i-folder mr-1"></i>
                                                <span class="f-3 font-weight-bold">{{element.title}}</span>
                                            </div>
                                        </a>
                                    </ng-template>
                                </ng-container>
                            </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <ng-container *matHeaderCellDef>
                            <th mat-header-cell class="auth" *ngIf='!(selectedFiles.length + selectedFolders.length)'>
                                <div class="v-center c-pointer head-sort" (click)="changeSort('role')">
                                    <span [class]="selectedSort == 'role' ? 'font-weight-bold c-dark' : ''" translate>Owner</span>
                                    <i class="i-icon d-block bgc-dark ml-2" [class]="filterParam.role ? 'i-sort-down' : 'i-sort-up'"
                                        *ngIf="selectedSort == 'role'"></i>
                                </div>
                            </th>
                        </ng-container>
                        <td mat-cell *matCellDef="let element" class="auth">
                            <div class="role"
                            [class.team]="element.item_type === 'folder'"
                            [class.shared]="element.item_type !== 'folder' && element.user !== userId"></div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="shared with">
                        <ng-container *matHeaderCellDef>
                            <th mat-header-cell class="type" *ngIf='!(selectedFiles.length + selectedFolders.length)'>
                                <div class="v-center c-pointer head-sort" (click)="changeSort('type')">
                                    <span [class]="selectedSort == 'type' ? 'font-weight-bold c-dark' : ''" translate>Shared With</span>
                                    <i class="i-icon d-block bgc-dark ml-2"
                                        [class]="filterParam.type ? 'i-sort-down' : 'i-sort-up'" *ngIf="selectedSort == 'type'"></i>
                                </div>
                            </th>
                        </ng-container>

                        <td mat-cell *matCellDef="let element" class="share-col">
                            <ng-container *ngIf="element.team_info;else noTeamInfoTemplate">
                                <span class="tag mr-2">{{element.team_info.name}}</span>
                            </ng-container>
                            <ng-template #noTeamInfoTemplate>
                                <span>---</span>
                            </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="downloads-count">
                        <ng-container *matHeaderCellDef>
                            <th mat-header-cell class="action-count text-center" *ngIf='!(selectedFiles.length + selectedFolders.length)' translate>
                                Download Count
                            </th>
                        </ng-container>
                        <td mat-cell *matCellDef="let element" class="action-count">
                            <div class="text-center" *ngIf="element.item_type !== 'folder'">
                                {{element.downloads}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <ng-container *matHeaderCellDef>
                            <th mat-header-cell class="assign-action text-center" *ngIf='!selectedCount && !(selectedFiles.length + selectedFolders.length)' translate>Action</th>
                        </ng-container>
                        <td mat-cell *matCellDef="let element; let index=dataIndex;" class="assign-action">
                            <div class="v-center download-action items pr-3" *ngIf="element.hasTeamAction">
                                <ng-containter *ngIf="element.role === 'admin' || element.user !== userId; else stopShareBtn">
                                    <span class="c-dark font-weight-bold" *ngIf="d_status === element._id">
                                    <i class="small-spinner"></i>
                                    </span>
                                    <button
                                    *ngIf="d_status !== element._id"
                                    class="v-center btn p-1 c-dark material-send"
                                    (click)="download(element)"
                                    placement="bottom"
                                    [ngbTooltip]="'Download to my pipeline list'"
                                    >
                                    <i
                                        class="i-icon i-download bgc-dark material-download"
                                        aria-hidden="true"
                                    ></i>
                                    </button>
                                </ng-containter>
                                <ng-template #stopShareBtn>
                                    <button
                                    class="v-center btn p-1 c-dark material-send"
                                    (click)="stopShare(element, teamInfo?._id)"
                                    placement="bottom"
                                    [ngbTooltip]="'Stop Share'"
                                    *ngIf="!parentFolder"
                                    >
                                    <i class="i-icon i-share-off bgc-dark" aria-hidden="true"></i>
                                    </button>
                                </ng-template>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="DISPLAY_COLUMNS" class="table-header"></tr>
                    <tr mat-header-row *matHeaderRowDef="currentFolder ? ['root-folder'] : []" class="{{!currentFolder ? 'is_root' : ''}}"></tr>
                    <tr mat-header-row *matHeaderRowDef="currentFolder ? ['prev-folder'] : []" class="{{!currentFolder ? 'is_root' : ''}}"></tr>
                    <tr mat-row *matRowDef="let element; let index=index;  columns: DISPLAY_COLUMNS;" class="example-element-row"></tr>
                </table>

                <div class="my-2 table-control mode-1">
                    <div class="pagination-wrapper m-auto"  [class.invisible]="filteredItems.length < pageSize.id">
                        <pagination-controls
                            id="libraryTable"
                            maxSize="5"
                            previousLabel=""
                            nextLabel=""
                            (pageChange)="changePage($event)"
                            (pageBoundsCorrection)="changePage($event)"
                        >
                        </pagination-controls>
                    </div>
                    <div
                        *ngIf="filteredItems.length > PAGE_COUNTS[0].id"
                        class="shadow-dropdown ml-auto page-size-control"
                        ngbDropdown
                        placement="top-right"
                    >
                        <div class="v-center c-pointer f-3 p-3 font-weight-bold" ngbDropdownToggle>
                            <span class="pr-2 c-blue" translate [translateParams]="{count: pageSize.id}">
                            pagination
                            </span>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="contactPageSize">
                            <div class="py-2" ngbDropdownItem *ngFor="let type of PAGE_COUNTS" (click)="changePageSize(type)">
                                <span class="f-3 v-center" [class.font-weight-bold]="type.id === pageSize.id">
                                    <span translate [translateParams]="{count: type.label}">
                                        pagination
                                    </span>
                                    <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1" *ngIf="type.id === pageSize.id"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Empty & Loading View -->
            <ng-container *ngIf="!filteredItems.length">
                <div class="empty-list py-5" *ngIf="!isLoading else loadingTemplate">
                    <div class="object-icon v-center">
                        <i class="i-icon i-material d-block bgc-dark"></i>
                    </div>
                    <h4 class="font-weight-bold mt-4 mb-3" translate>
                        There is no pipelines for shared yet.
                    </h4>
                </div>
                <ng-template #loadingTemplate>
                    <div class="list-loading text-center">
                        <div class="loader mt-5 lg"></div>
                        <h4 class="fw-600 mt-2" translate>Loading pipelines...</h4>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>
