.pipeline-table {
    tr.is_root {
      display: none;
    }

    td {
      padding: 10px;
    }
    .type {
      text-align: left;
      max-width: 100px;
    }
    .checkbox-col {
      width: 36px;
    }
    .label {
      text-transform: capitalize;
    }
    .icon-button {
      cursor: pointer;
    }
    .title, .root-folder {
      a:hover {
        color: #101336;
      }
    }

    .button-more {
      a {
        &::after {
          content: none;
        }
      }
    }

    th {
      height: 45px;
      color: rgba(0, 0, 0, 0.54);
      padding-left: 10px;

      &.root-folder {
        text-transform: none;
        color: blue;
        font-size: 14px;
        opacity: 1;
        border-bottom: none;
      }

      .head-sort {
        span {
          line-height: 1;
        }

        i {
          width: 8px;
          height: 12px;
          min-width: 8px;
        }
      }
    }

    @media screen and (max-width: 576px) {
    }

    @media screen and (max-width: 375px) {
      .auth {
        display: none;
      }
    }
  }
  .download-action {
    justify-content: center;
  }
  .downloads-col {
    width: 100px;
    text-align: right;
  }
  .i-triangle-up.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  .action-count {
    text-align: left;
  }

  tr.mat-row {
    &.automation-detail-row {
      height: unset;

      td {
        padding: 0px;

        .automation-detail {
          padding: 15px;
          border-radius: 10px;
          background-color: #eee;
          min-height: 150px;

          .loader {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }

  tr td {
    background-color: white;
  }

  .custom-header {
    padding-top: 10px;
  }

  .contact-chip {
    .form-avatar {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
    }
  }

  input.disabled {
    pointer-events: none;
    background-color: #f8f8f8;
  }

  :host ::ng-deep {
    .assign-action {
      min-width: 60px;
      max-width: 60px;
      text-align: left;
      .items {
        opacity: 0;
        &.first-send {
          opacity: 1;
        }
      }
    }

    .additional-action {
      min-width: 40px;
      max-width: 40px;
      opacity: 0;
    }

    tr:hover {
      .assign-action .items {
        opacity: 1;
      }

      .additional-action {
        opacity: 1;
      }
    }
}
