<!-- Added by Sylla -->
<div class="page-content">

  <div class="status-header v-center mt-3">
    <div class="page-title v-center justify-content-start contact-count desktop">
      <p  [translateParams]="{total: totalDuplications}" translate>duplicates_in_your_CSV_file</p>
      <img class="mx-1" [src]="sspaService.toAsset('img/warning-sm.svg')" alt="">
    </div>
    <div class="f-6 font-weight-bold op-64 contact-count mobile v-center justify-content-start">
      <span [translateParams]="{total: totalDuplications}" translate>duplicates_in_your_CSV_file</span>
      <img class="mx-1" [src]="sspaService.toAsset('img/warning-sm.svg')" alt="">
    </div>
    <div class="ml-auto v-center create-actions">
      <button class="v-center btn btn-white border border-primary f-6 font-weight-bold rounded mr-2 px-3"
        (click)="onCancel()">
        <span class="normal" translate>Back</span>
        <span class="mobile" translate>Back</span>
      </button>
      <button class="btn btn-primary f-6 font-weight-bold rounded ml-2 px-3 text-white shadow d-flex"
        [class.loading]="isSaving" (click)="onContinue(true)">
        {{ 'Ignore Duplicates & Continue' | translate }}
        <i 
          class="i-icon i-information d-block bgc-white ml-1" 
          ngbTooltip="This action will remove all duplicate contacts except for the first instance of each contact. Click here to move to the next step.">
        </i>
      </button>
      <button class="btn btn-primary f-6 font-weight-bold rounded ml-2 px-3 text-white shadow"
        [class.loading]="isSaving" (click)="onContinue()">
        {{ 'Continue' | translate }}
      </button>
    </div>
  </div>

  <div class="f-6 font-weight-bold op-64 mb-2 contact-count desktop mt-3">
    {{ 'see_duplicates_below' | translate }}
  </div>

  <div class="duplicate-wrapper pr-2">
    <div class="duplicate-check-wrapper">
      <div class="table-wrapper">
        <table class="table page-table mb-0 duplicate-table">
          <thead>
            <tr class="column-row">
              <th></th>
              <th *ngFor="let item of pcMatching | keyvalue : contactHeaderOrder" class="column-field">
                <div class="min-w-200 text-black f-4 min-h-40 v-center">
                  {{properties[item.value]}}</div>
              </th>
              <th class="column-field sticky-action-col"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of csvContactGroups | paginate: {id: 'duplicateCsvPage', itemsPerPage: pageSize.id, currentPage: page, totalItems: csvContactGroups.length}; let i = index">
              <ng-container *ngIf="!group.updated">
                <tr class="blank-row">
                  <td></td>
                  <td *ngFor="let item of pcMatching | keyvalue"></td>
                  <td class="sticky-action-col"></td>
                </tr>
              </ng-container>
              <tr class="data-row">
                <td [class.updated]="group.updated">
                  <ng-container *ngIf="!group.updated; else checkedUpdate">
                    <span>
                      <i 
                        class="i-icon i-information d-block bgc-grey" 
                        ngbTooltip="This is the auto merged result. When you click continue, following contacts are ignored and this info would be uploaded."
                        placement="right">
                      </i>
                    </span>
                  </ng-container>
                  <ng-template #checkedUpdate>
                    <span>
                      <i 
                        class="i-icon i-round-check d-block bgc-green"
                        ngbTooltip="You merged the following contacts to this one. When you click continue, this merged info would be uploaded instead of following contacts."
                        placement="right">
                      </i>
                    </span>
                  </ng-template>                
                </td>
                <td *ngFor="let item of pcMatching | keyvalue : contactHeaderOrder" class="f-4 last-row"
                  [class.updated]="group.updated">
                  <div class="v-center custom-field data-field">
                    {{formatValue(group.result[item.value]) || ''}}
                  </div>
                </td>
                <td class="sticky-action-col" [class.updated]="group.updated">
                  <div class="v-center custom-field justify-content-between data-field">
                    <a (click)="onUpdate(i)" class="ml-2 c-pointer user-action">
                      <i class="i-icon d-block i-edit bgc-dark"></i>
                    </a>                    
                  </div>
                </td>
              </tr>
              <tr class="data-row" *ngFor="let contact of group.contacts; let j = index">
                <td class="group-contact"></td>
                <td *ngFor="let item of pcMatching | keyvalue : contactHeaderOrder" class="f-4 group-contact">
                  <div class="v-center custom-field data-field">
                    {{formatValue(contact[item.value]) || ''}}
                  </div>
                </td>
                <td class="sticky-action-col group-contact">
                  <div class="v-center custom-field justify-content-between data-field">
                    <a (click)="updateContact(contact, $event)" class="ml-2 c-pointer user-action">
                      <i class="i-icon d-block i-edit bgc-dark"></i>
                    </a>                    
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="my-2 table-control mode-1">
    <div class="pagination-wrapper m-auto">
      <pagination-controls (pageChange)="onChangePage($event)" (pageBoundsCorrection)="onChangePage($event)"
        id="duplicateCsvPage" maxSize="5" previousLabel="" nextLabel="" autoHide="true">
      </pagination-controls>
    </div>
    <div *ngIf="csvContactGroups.length > PAGE_COUNTS[0].id" class="shadow-dropdown ml-auto page-size-control" ngbDropdown
      placement="top-right">
      <div class="v-center c-pointer f-3 p-3 font-weight-bold" ngbDropdownToggle>
        <span class="pr-2 c-blue" [translateParams]="{count: pageSize.id}" translate>pagination</span>
      </div>
      <div ngbDropdownMenu aria-labelledby="duplicateCsvPageSize">
        <div class="py-2" ngbDropdownItem *ngFor="let type of PAGE_COUNTS" (click)="onChangePageSize(type)">
          <span class="f-3 v-center" [class.font-weight-bold]="type.id === pageSize.id">
            <span [translateParams]="{count: type.id}" translate>pagination</span>
            <i class="i-icon i-check d-block bgc-blue sm ml-1 mb-1" *ngIf="type.id == pageSize.id"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="csvContactGroups.length > 0">
  <mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer position="end" (openedChange)="setPanelType($event)">
      <app-update-duplicated-contacts-csv [hidden]="panelType" (onClose)="drawer.close()"
        (onUpdate)="onUpdateContact($event)" [pcMatching]="pcMatching" [properties]="properties"
        [group]="csvContactGroups[updatingIndex]" #updateContactCSV>
      </app-update-duplicated-contacts-csv>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
<!-- End by Sylla -->