<div class="position-relative dialog-wrapper">
  <ng-container [ngSwitch]="errorCode">
    <button class="v-center justify-content-center btn rounded-circle close-button mt-2 mr-2"  mat-dialog-close>
      &times;
    </button>
    <ng-container *ngSwitchCase="402">
      <h5 class="text-center" translate>
        connect_email_account
      </h5>
      <p class="summary text-center f-4" translate>
        connect_email_account_desc
      </p>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mb-2 mx-auto fw-600 connect-button" (click)="connectMail('gmail')">
        <img [src]="sspaService.toAsset('img/google.svg')">
        <div class="social-text" translate>
          connect_google_account
        </div>
      </button>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mb-2 mx-auto fw-600 connect-button" (click)="connectMail('outlook')">
        <img [src]="sspaService.toAsset('img/microsoft.svg')">
        <div class="social-text" translate>
          connect_microsoft_account
        </div>
      </button>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mx-auto fw-600 connect-button" (click)="connectMail('smtp')" *ngIf="!isVortex">
        <img [src]="sspaService.toAsset('img/smtp.png')">
        <div class="social-text" translate>
          connect_smtp_account
        </div>
      </button>
    </ng-container>


    <ng-container *ngSwitchCase="403">
      <mat-dialog-content translate>
        connect_email_issue
        <a class="c-pointer" href="https://crmgrow.com/articles/mail-connect-error.html" target="_blank">Click Here</a>
      </mat-dialog-content>
      <mat-dialog-actions align="end" class="mx-0">
        <button class="btn btn-primary" mat-dialog-close translate>
          Close
        </button>
      </mat-dialog-actions>
    </ng-container>


    <ng-container *ngSwitchCase="405">
      <div mat-dialog-title class="text-center">
        <span class="operation">{{(data.operation || '') | lowercase}}</span> status!
      </div>
      <mat-dialog-content>
        <p class="text-center f-3" translate>
          failed_desc
        </p>
        <ul class="p-0 f-3 mb-0 detail-list">
          <li class="mb-2" *ngIf="data.error?.notExecuted && data.error?.notExecuted?.length" translate [translateParams]="{count: data.error?.notExecuted?.length}">
            failed_desc_with_count
          </li>
          <li class="member mb-1" *ngFor="let error of data.error.error">
            <div class="name font-weight-bold">
              {{error['contact'] && error['contact']['first_name']}} {{error['contact'] && error['contact']['last_name']}}
            </div>
            <div class="contact-info">
              <div class="v-center" *ngIf="error?.contact?.email">
                <i class="i-icon i-emails d-block bgc-dark sm mr-1"></i>
                <span>{{error['contact'] && (error['contact']['email'] || '----')}}</span>
              </div>
              <div class="v-center" *ngIf="error?.contact?.cell_phone">
                <i class="i-icon i-phone d-block bgc-dark sm mr-1"></i>
                <span>{{error['contact'] && (error['contact']['cell_phone'] || '----')}}</span>
              </div>
            </div>
            <div class="reason">
              <label class="mb-0" translate>Reason: </label>
              <span>
                {{showError(error.error)}}
              </span>
            </div>
          </li>
        </ul>
      </mat-dialog-content>
      <mat-dialog-actions align="end" class="mx-0">
        <button class="btn btn-primary" mat-dialog-close translate>
          Close
        </button>
      </mat-dialog-actions>
    </ng-container>


    <ng-container *ngSwitchCase="406">
      <h5 class="text-center" translate>
        connect_email_account
      </h5>
      <p class="summary text-center f-4" translate>
        connect_email_account_desc
      </p>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mb-2 mx-auto fw-600 connect-button" (click)="connectMail('gmail')">
        <img [src]="sspaService.toAsset('img/google.svg')">
        <div class="social-text" translate>
          connect_google_account
        </div>
      </button>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mb-2 mx-auto fw-600 connect-button" (click)="connectMail('outlook')">
        <img [src]="sspaService.toAsset('img/microsoft.svg')">
        <div class="social-text" translate>
          connect_microsoft_account
        </div>
      </button>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mx-auto fw-600 connect-button" (click)="connectMail('smtp')" *ngIf="!isVortex">
        <img [src]="sspaService.toAsset('img/smtp.png')">
        <div class="social-text" translate>
          connect_smtp_account
        </div>
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="427">
      <h5 class="text-center" translate>connect_calendar</h5>
      <p class="summary text-center f-4" translate [translateParams]="{source: isVortex ? 'Vortex' : 'crmgrow'}">
        connect_calendar_issue
      </p>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mb-2 mx-auto fw-600 connect-button" (click)="connectCalendar('gmail')">
        <img [src]="sspaService.toAsset('img/google_calendar.png')">
        <div class="social-text" translate>
          connect_google_account
        </div>
      </button>
      <button type="button" class="v-center btn bgc-white border-primary c-blue mx-auto fw-600 connect-button" (click)="connectCalendar('outlook')">
        <img [src]="sspaService.toAsset('img/outlook_calendar.png')">
        <div class="social-text" translate>
          connect_microsoft_account
        </div>
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="408">
      <h1 mat-dialog-title class="m-0" translate>
        Add phone number
      </h1>
      <mat-dialog-content>
        <div class="f-3 font-weight-bold c-black mt-3" translate>
          phone_number_search_desc
        </div>
        <div class="form-group my-4">
          <div class="ml-2">
            <div class="f-3" translate>phone_number_local_code</div>
            <div class="row">
              <div class="col-5 search-phone-wrapper v-center mt-2">
                <input type="text" class="form-control" [(ngModel)]="searchCode" name="search-phone" id="search-phone" maxlength="3" placeholder="e.g.123"/>
                <button class="search-button btn btn-primary v-center ml-2" (click)="searchPhone()">
                  <i class="i-icon i-search d-block bgc-white"></i>
                </button>
              </div>
            </div>
            <div class="phones-container mt-2">
              <ng-container *ngIf="loading; else phones">
                <div class="list-loading text-center">
                    <div class="loader mt-5 lg"></div>
                    <h4 class="fw-600 mt-2" translate>Loading ...</h4>
                </div>
              </ng-container>
              <ng-template #phones>
                <ng-container *ngIf="phoneNumbers.length > 0; else empty">
                  <div class="phone-wrapper v-center mb-1" *ngFor="let phone of phoneNumbers; let i = index">
                    <div class="custom-radio-container mr-3" (click)="selectPhone(phone.number)">
                      <input class="custom-radio" type="radio" [id]="'select-phone-' + i" [name]="'select-phone-' + i" [checked]="isSelected(phone.number)">
                      <label class="f-6 font-weight-bold"></label>
                    </div>
                    <div class="v-center ml-4 mt-3 c-pointer" (click)="selectPhone(phone.number)">
                      <i class="i-icon i-phone d-block bgc-dark"></i>
                      <div class="ml-2">
                        <div class="f-3 font-weight-bold">{{phone.number}}</div>
                        <div class="f-3">{{phone.locality}}, {{phone.region}}</div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #empty>
                  <div class="empty-list py-5">
                    <div class="object-icon v-center">
                        <i class="i-icon i-phone d-block bgc-dark"></i>
                    </div>
                    <h4 class="text-center font-weight-bold mt-4 mb-3" translate>
                      There are no phone numbers.
                    </h4>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="form-group mt-4">
          <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="captchaToken"></re-captcha>
          <span class="error mt-1" [class.d-block]="submitted">
            <ng-container *ngIf="!captchaToken">
              {{ 'Please check if you are not a robot.' | translate }}
            </ng-container>
          </span>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button class="btn btn-white c-blue font-weight-bold" mat-dialog-close translate>Cancel</button>
        <button class="btn btn-primary f-6 font-weight-bold px-3 ml-2" [class.loading]="saving" (click)="save()" translate>Save</button>
      </mat-dialog-actions>
    </ng-container>

    <ng-container *ngSwitchCase="409">
      <h1 mat-dialog-title class="text-center" translate>
        add_sms_message_create
      </h1>
      <mat-dialog-content>
        <div class="f-3 font-weight-bold text-center w-75 mt-3 c-red mx-auto" translate>
          add_sms_message_desc
        </div>
        <div class="row my-4">
          <div class="col-md-4 col-sm-12 mb-md-0 mb-sm-2 p-1" *ngFor="let plan of plans" (click)="selectPlan(plan)">
            <div class="text-center p-2 plan position-relative" [class.selected]="currentType.type == plan.type">
              <i class="i-icon i-check bgc-blue sm d-block check-icon" *ngIf="currentType.type == plan.type"></i>
              <div class="mt-3 text-center">
                <span class="f-3 font-weight-bold">{{plan.sms}}</span> messages
              </div>
              <div class="my-2 text-center">
                <span class="f-3 font-weight-bold c-black">${{plan.price}}.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="f-3 description text-center" [innerHTML]="'add_sms_message_disclaim' | translate: {price: currentType.price}">
        </div>
        <div class="form-group mt-4">
          <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="captchaToken"></re-captcha>
          <span class="error mt-1" [class.d-block]="submitted">
            <ng-container *ngIf="!captchaToken">
              {{ 'Please check if you are not a robot.' | translate }}
            </ng-container>
          </span>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button class="btn btn-primary f-6 font-weight-bold px-3 mx-auto mt-4" [class.loading]="saving" (click)="purchase()">Complete purchase</button>
      </mat-dialog-actions>
    </ng-container>

    <ng-container *ngSwitchCase="412">
      <div class="upgrade-package-wrapper">
        <i class="i-icon i-information d-block bgc-blue mx-auto"></i>
        <p class="my-4" translate>Upgrade to unlock</p>
        <div class="f-4 text-center">{{errorMessage}}</div>
        <div class="f-4 text-center" translate>Upgrade your account for access.</div>
      </div>
      <mat-dialog-actions align="center">
        <button class="btn btn-primary f-6 font-weight-bold px-3 mx-auto" (click)="goToBilling()" translate>
          Upgrade
        </button>
      </mat-dialog-actions>
    </ng-container>

    <ng-container *ngSwitchCase="413">
      <div class="upgrade-package-wrapper">
        <i class="i-icon i-information d-block bgc-blue mx-auto"></i>
        <p class="my-4" translate>Update action status</p>
        <div class="v-center my-2" *ngFor="let error of errorObj.error">
          <ng-container *ngIf="error.contact">
            <div class="v-center justify-content-between w-100">
              <div class="v-center">
                <div class="form-avatar rounded-circle bg-dark mr-3">{{getAvatarName(error.contact)}}</div>
                <div class="f-4">{{getFullName(error.contact)}}</div>
              </div>
              <div class="f-4 c-light-dark">{{error.message}}</div>
            </div>
          </ng-container>
          <ng-container *ngIf="error.deal">
            <div class="v-center justify-content-between w-100">
              <div class="f-4 c-dark font-weight-bold">{{error.deal?.title || ''}}</div>
              <div class="f-4 c-light-dark">{{error.message}}</div>
            </div>
          </ng-container>
        </div>
      </div>
      <mat-dialog-actions align="center">
        <button class="btn btn-white c-blue font-weight-bold" mat-dialog-close translate>Cancel</button>
      </mat-dialog-actions>
    </ng-container>
  </ng-container>
</div>
