<div class="page-content p-1">
  <div class="v-center justify-content-between">
    <span class="f-3" translate>Enable contact label automated setup</span>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="automation">
      <label class="custom-control-label" for="automation"></label>
    </div>
  </div>
  <div class="v-center justify-content-end mt-3">
    <button class="btn btn-white font-weight-bold mr-2 mt-4" translate>Cancel</button>
    <button class="btn btn-blue font-weight-bold mr-2 mt-4" (click)="saveAutomation()" translate>Save changes</button>
  </div>
</div>