.automation-name {
  flex-grow: 1;
  max-width: calc(100% - 90px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media screen and (max-width: 576px) {
        width: 90%;
    }
}
.icon-close {
  min-width: 16px;
}
.chip {
  min-height: 26px;
}