<form #form="ngForm" (ngSubmit)="form.form.valid ? submit() : false">
  <h1 mat-dialog-title translate>Change Assistant Password</h1>
  <mat-dialog-content>
    <div class="form-group" [ngClass]="{invalid: form.submitted && password.invalid && (password.dirty || password.touched || form.submitted)}">
      <div class="d-flex">
        <label for="password" class="mr-auto" translate>New Password</label>
        <span class="error" *ngIf="password.errors">
          <ng-container *ngIf="password.errors.required" translate>Required!</ng-container>
          <ng-container *ngIf="password.errors.minlength" translate>At least 6 characters!</ng-container>
        </span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="assistant.password" name="password" id="password" required minlength="6" #password="ngModel"/>
    </div>
    <div class="form-group" [ngClass]="{invalid: form.submitted && ((confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || form.submitted)) || confirm_password != assistant.password)}">
      <div class="d-flex">
        <label for="confirmPassword" class="mr-auto" translate>Confirm Password</label>
        <span class="error" *ngIf="confirmPassword.errors; else misMatch">
          <ng-container *ngIf="confirmPassword.errors.required" translate>Confirm!</ng-container>
          <ng-container *ngIf="confirmPassword.errors.minlength" translate>At least 6 characters!</ng-container>
        </span>
        <ng-template #misMatch>
          <span class="error" *ngIf="confirm_password != assistant.password" translate>
            No match!
          </span>
        </ng-template>
      </div>
      <input type="password" class="form-control" [(ngModel)]="confirm_password" name="confirmPassword" id="confirmPassword" required minlength="6" #confirmPassword="ngModel"/>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btn c-blue" mat-dialog-close translate>Cancel</button>
    <button [attr.data-action]="'assistant-password-change'" type="submit" class="btn btn-primary" [class.loading]="updating" translate>Change</button>
  </mat-dialog-actions>
</form>
