<div
  class="checkbox-wrapper material-items-list"
  [class.disable-form]="enableTeamSearchOption()"
  [class.d-none]="selectedTab.id === 'team'"
>
  <div
    class="custom-checkbox material-item"
    *ngFor="let item of materialActions"
  >
    <input
      type="checkbox"
      class="custom-control-input"
      id="material-{{ item._id }}"
      name="material-actions"
      (click)="selectMaterialAction(item.title)"
      [checked]="selectedMaterialActions == item.title"
    />
    <label class="custom-control-label v-center" for="material-{{ item._id }}">
      <div class="f-3 fw-600 material-action-title">{{ item.title }}</div>
      <div
        class="count f-3 font-weight-bold c-white bgc-blue ml-2 mr-2 text-center rounded-circle"
        *ngIf="item.count"
      >
        {{ item.count }}
      </div>
    </label>
  </div>
</div>

<div class="d-flex align-items-end">
  <button type="submit" class="btn btn-primary" (click)="save()" translate>
    Apply
  </button>
</div>
