.alert-header {
  background: blue;
  margin-top: -2.25rem;
  margin-left: -2.25rem;
  margin-right: -2.25rem;
  padding: 10px 32px 24px 32px;
  border-radius: 4px 4px 0px 0px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  @media screen and (max-width: 575px) {
    margin-top: -1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  
  .release-dialog-modal{
    margin-left: 2px;
    margin-top: 8px;
    h4 {
      z-index: 1;
      color:white;     
    }
    p{
      z-index: 1;
      color:white;
    }
  }

  .dialog-version {
    p {
      z-index: 1;
      display: none;
    }
  }

  .dialog-version-sm{
    padding-top: 11px;
    font-size: 12px;
  }
}
.alert-wrapper {
  position: relative;
}
.bg-release-dialog{
  position: absolute;
  z-index: 0;
  width:100%;
  img{
    width:100%;
  }
}


@media screen and (min-width: 768px) {
  .alert-inner-wrapper{
    padding: 28px;
  }
}

@media screen and (min-width: 992px) {
  .dialog-version-sm {
    display: none;
  }
  .dialog-version p{
    display: block!important;
  }
}


@media screen and (max-width: 359px) {
  
.alert-inner-wrapper{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}
}