.card-header {
  background-color: transparent!important;
  border-bottom: none!important;
}

.bottom-value {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.bottom-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.card-content {
  height: 320px;
}

.card-body {
  height: 100%!important;
}