<form #form="ngForm" (ngSubmit)="form.form.valid? update() : false;" [class.was-validated]="form.submitted">
  <div class="v-center justify-content-between">
    <h1 mat-dialog-title class="m-0" translate>Edit note</h1>
    <button class="v-center border-0 bgc-trans" mat-dialog-close>
      <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
  </div>
  <mat-dialog-content>
    <div class="f-6 mb-3" *ngIf="formType === 'deal'; else contactNameTemplate;">
      {{ 'Editing note of deal:' | translate }} <span class="font-weight-bold c-blue">{{dealName}}</span>
    </div>
    <ng-template #contactNameTemplate>
      <div class="f-6 mb-3">
        {{ 'Editing note of' | translate }} <span class="font-weight-bold c-blue">{{contact}}</span>
      </div>
    </ng-template>
    <div class="form-group has-feedback">
      <div class="d-flex">
        <label class="mb-0" translate>Content</label>
        <span class="ml-auto error" *ngIf="!note.content" translate>Required!</span>
      </div>
      <app-html-editor [(value)]="note.content" [hasToken]="false" [hasTemplates]="false" [noImage]="true"
        [style]="{height: '120px'}" #editor>
      </app-html-editor>
      <div class="mt-2">
        <app-audio-note [url]="note.audio" (onRecorded)="insertAudioNote($event)" (onRemoved)="removeAudioNote()"
          #recorder></app-audio-note>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn c-blue" mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button data-action="deal-tab-note-edit-save" class="btn btn-primary" type="submit" [class.loading]="saving">{{ 'Save' | translate }}</button>
  </mat-dialog-actions>
</form>