<div class="v-center justify-content-between">
  <h1 mat-dialog-title class="m-0" translate>Move Deal</h1>
  <button class="v-center border-0 bgc-trans" mat-dialog-close>
    <i class="d-block i-icon i-close bgc-dark"></i>
  </button>
</div>
<mat-dialog-content>
  <div class="deal-stage my-3">
    <app-select-stage
      [stage]="selectedStageId"
      (onChangeStage)="changeSelectedStage($event)"
      [viewMode]="'row'"
      [isHidePipelineSelector]="true"
    ></app-select-stage>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    class="btn btn-white f-6 font-weight-bold mr-2"
    type="button"
    mat-dialog-close
    translate
  >
    Cancel
  </button>
  <button
    class="btn btn-primary f-6 font-weight-bold"
    [class.loading]="saving"
    (click)="moveDeal()"
    translate
    [disabled]="currentStageId === selectedStageId"
  >
    Move
  </button>
</mat-dialog-actions>
