<div>
  <div class="v-center justify-content-between mb-3">
    <h1 mat-dialog-title class="m-0" translate>Automation Assign</h1>
    <button class="v-center border-0 bgc-trans" mat-dialog-close>
      <i class="d-block i-icon i-close bgc-dark"></i>
    </button>
  </div>

  <app-input-automation
    (automationChange)="selectAutomation($event)"
    [emptyInput]="automationUnAssigned"
    [type]="contactId ? 'contact' : 'deal'"
  ></app-input-automation>

  <mat-dialog-actions align="end">
    <div class="button-group mt-2">
      <button
        class="btn btn-white f-6 font-weight-bold c-blue mr-2 ng-star-inserted"
        mat-dialog-close
        translate
      >
        Cancel
      </button>
      <button
        (click)="assignAutomation()"
        class="mr-2 btn btn-primary f-6 font-weight-bold btn-font-bold text-white"
        [class.loading]="assigning"
        translate
      >
        Assign
      </button>
    </div>
  </mat-dialog-actions>
</div>
