<div class="v-center justify-content-between">
  <h1 mat-dialog-title class="m-0" translate>
    Select your plan
  </h1>
  <button class="v-center border-0 bgc-trans p-0" mat-dialog-close>
    <i class="d-block i-icon i-close bgc-dark"></i>
  </button>
</div>
<mat-dialog-content>
  <div class="row p-3">
    <div class="col-md-4 p-1" *ngFor="let plan of plans">
      <div class="text-center p-4 plan" [class.selected]="planType == plan.type">
        <div class="f-1 fw-600 op-56 text-uppercase plan-title">
          {{ 'plan' | translate }}
        </div>
        <div class="f-24 font-weight-bold c-blue mt-2 text-capitalize plan-type">
          {{plan.type}}
        </div>
        <div class="v-center justify-content-center f-6 font-weight-bold c-white mt-3 mx-auto sms-count">
          {{plan.sms}} {{ 'SMS' | translate }}
        </div>
        <div class="v-center justify-content-center mt-2 sms-price">
          <span class="f-3 op-56 mr-2" translate>for only</span>
          <span class="f-20 font-weight-bold c-blue">${{plan.price}}</span>
        </div>
        <button class="btn btn-blue f-3 font-weight-bold px-3 py-2 mt-3" (click)="selectPlan(plan.type)">
          <span *ngIf="plan.type == 'mini'; else selectButton" translate>Selected</span>
          <ng-template #selectButton>
            <span translate>Select</span>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-white f-6 font-weight-bold mr-2" mat-dialog-close>
    {{ 'Cancel' | translate }}
  </button>
  <button class="btn btn-primary f-6 font-weight-bold px-3 mr-3" (click)="planBuy()">
    {{ 'Next' | translate }}
  </button>
</mat-dialog-actions>