<div class="dialog-container">
  <div class="v-center justify-content-between mx-0">
    <div class="f-22 fw-600 c-black" translate>Something happened</div>
  </div>
  <mat-dialog-content class="mt-3">
    <div class="row mx-1 my-2">
      <p translate [innerHTML]="'vortex log out content' | translate"></p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-end w-100">
      <button
        [attr.data-action]="'logout'"
        class="btn btn-primary c-white fw-600"
        type="button"
        (click)="handleLogout($event)"
        translate
      >
        Log Out
      </button>
    </div>
  </mat-dialog-actions>
</div>
