:host ::ng-deep {
    color-swatches {
        .swatches-overflow {
            height: unset !important;
            overflow: hidden;
        }
    }

    .mat-dialog-content {
        overflow: hidden;
    }
}

.label {
    font-weight: 600;
    line-height: 24px;
    color: #4D4D4D;
}
