.card-body {
  height: 132px;
}

.started {
  height: 45px;
}

.card-header {
  background-color: transparent!important;
  border-bottom: none!important;
}

.card-text {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.4px;
}

.card-bottom {
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}

.text-green {
  color: #00CC7E;
}

.text-gray-50 {
  color: #4D4D4D;
}

.text-gray {
  color: #989898;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chart {
  width: 50%;
  height: 80px;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.card-body-height {
  height: 225px;
}

.card-prospects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-padding {
  padding: 10px !important;
}

.card-body-padding {
  padding: 4px !important;
}

.pr-gap {
  padding-right: 5px;
}

.pl-gap {
  padding-left: 5px;
}


@media screen and (max-width: 992px) {
  .card-body-height {
    height: 344px;
  }
  
  .pr-gap {
    padding-right: 0px;
  }

  .pl-gap {
    padding-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  .started {
    height: 84px;
  }
  
  .text-overflow {
    white-space: normal;
  }
}