<ng-container *ngIf="selectionType === 'dropdown'; else checkboxTemplate">
  <div class="custom-mat-field">
    <mat-form-field appearance="outline" floatLabel="never" class="d-block">
      <mat-chip-list aria-label="Assignee Selection" #assigneeList>
        <mat-basic-chip
          *ngFor="let assignee of selectedAssignee"
          [removable]="true"
          (removed)="remove(assignee._id)"
        >
          <div class="v-center chip p-1 rounded-pill mr-1">
            <div class="info text-dark ml-1">
              {{ assignee.user_name }}
            </div>
            <div class="close-icon-wrapper rounded-circle bg-white ml-1">
              <div class="i-icon i-close bgc-dark" matChipRemove></div>
            </div>
          </div>
        </mat-basic-chip>
        <input
          #inputField
          [formControl]="formControl"
          [matChipInputFor]="assigneeList"
          [matAutocomplete]="auto"
          autocomplete="off"
        >
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelectOption($event)"
      >
        <mat-option *ngFor="let assignee of USERS" [value]="assignee._id">
          <div class="d-flex chip py-2">
            <div class="info">
              <div class="f-4 fw-600">{{ assignee.user_name }}</div>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</ng-container>

<ng-template #checkboxTemplate>
  <div class="checkbox-list-vertical">
    <mat-checkbox
      *ngFor="let assignee of allUserList"
      [checked]="isChecked(assignee)"
      (change)="toggleCheckbox(assignee, $event.checked)"
      color="primary"
    >
      {{ assignee.user_name }}
    </mat-checkbox>
  </div>
  
