.label-item {
  position: relative;
  padding-left: 1.75rem;
  margin-bottom: 10px;
}
.label-items-list {
  margin-bottom: 20px;
  width: 100%;
}

.align-items-end {
  display: flex;
  justify-content: flex-end;
}

.include-label {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
