<h1 mat-dialog-title translate>Stop Share Contacts</h1>
<form #actionForm="ngForm" (ngSubmit)="submitted = true; actionForm.form.valid ? stopShare() : false"
  [class.was-validated]="submitted">
  <mat-dialog-content>
    <div class="form-group">
      <div class="my-3">
        <div class="f-5">
          {{ 'Shared to' | translate }}
          <span class="c-blue f-5 ml-1 font-weight-bold">
            {{ contacts[0].fullName }}
          </span>
          <span class="c-blue f-3 ml-2 font-weight-bold" *ngIf="contacts.length > 1">
            +{{ contacts.length - 1 }}
          </span>
        </div>
      </div>
      <div class="my-3">
        <label translate>Select member</label>
        <app-select-member [members]="members" (onSelect)="selectMember($event)">
        </app-select-member>
        <div class="error mt-1" *ngIf="submitted && !this.member">
          {{ 'Please select a member' | translate }}
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" class="btn btn-white" type="button" mat-dialog-close>
      {{ 'Close' | translate }}
    </button>
    <button type="submit" class="btn btn-primary ml-2" [class.loading]="loading">
      {{ 'Stop Share' | translate }}
    </button>
  </mat-dialog-actions>
</form>