<div class="summary" [class.isShown]="!isFocused" (click)="focus()">
  {{ (message || 'Write your text') | shorten: 30:'...' }}
</div>

<div class="d-flex">
  <div class="text-panel"  [class.minimize-content]=" !isMinimizable">
    <div class="contact-info">

      <div class="address-wrapper pl-3 pr-2 py-1 ">
        <div class="overflow-visible">
          <div class="d-flex w-100 mt-1" >
            <label class="f-6 op-56 m-0">{{ 'To' | translate }}:</label>
            <app-input-contact-email-phone-chip
              class="w-100 ml-2"
              [infoList]="contact?.phones ?? []"
              [isUniqueSelect]="true"
              [selectedTags]="contactPhones"
              [shouldFromSearch]="false"
              (onSelect)="setPhoneList($event)">
            </app-input-contact-email-phone-chip>

          </div>
        </div>
      </div>

    </div>
    <div class="message-info px-0 border-top border-bottom">
      <textarea rows="15" class="text-message" [(ngModel)]="message" (keydown)="keyTrigger($event)" [mention]="templateTokens"
        (itemSelected)="onTokenSelected($event)" [mentionConfig]="mentionConfig" #messageText (ngModelChange)="messageChanged()"
        data-name="deal-text-description" [disabled]="sending" required>
      </textarea>
    </div>
    <div class="text-setting">
      <div class="v-center">
        <button type="button" class="v-center btn border-primary f-3 font-weight-bold c-blue pr-2 pl-2 mr-2 material-button"
          (click)="openMaterialsDlg()" *enableByFeatures="USER_FEATURES.MATERIAL">
          <i class="d-block i-icon i-attachment bgc-blue"></i>
          <span class="f-3 font-weight-bold c-blue mx-2" translate>Material</span>
        </button>
      </div>
      <app-template-selector *enableByFeatures="USER_FEATURES.BETA" [type]="'text'" (selectTemplate)="selectTemplate($event)"></app-template-selector>

      <div ngbDropdown class="insert-token ml-2" placement="bottom-end">
        <div class="v-center no-carot c-pointer" ngbDropdownToggle placement="bottom" ngbTooltip="{{ 'Emoji' | translate }}"
          style="width: fit-content;">
         <i class="d-block i-icon i-emoji bgc-dark"></i>
        </div>
        <div ngbDropdownMenu class="light templates">
          <emoji-mart class="emoji-mart" [set]="set" [darkMode]="false"
            (emojiSelect)="insertTextContentValue($event.emoji.native)" title="{{ 'Pick your emoji' | translate }}">
          </emoji-mart>
        </div>
      </div>
      <ng-container *enableByFeatures="USER_FEATURES.SCHEDULER">
        <div ngbDropdown class="insert-token ml-2" placement="bottom-end" *ngIf="(scheduleService.eventTypes$ | async).length">
          <div class="v-center no-carot c-pointer" ngbDropdownToggle placement="bottom" ngbTooltip="{{ 'Scheduler' | translate }}">
            <i class="d-block i-icon i-event-note bgc-dark"></i>
          </div>
          <div ngbDropdownMenu class="light template-container">
            <ng-container *ngFor="let eventType of (scheduleService.eventTypes$ | async)">
              <div class="template dropdown-item border-top px-2" (click)="selectCalendly(eventType.link)">
                <div class="v-center h-100">
                  <div class="f-3 font-weight-bold flex-grow-1 mr-1 h-100 v-center">
                    {{(eventType.title || '') | shorten: 25: '...'}}
                  </div>
                  <a class="ml-auto" [href]="getCalendlyUrl(eventType.link)" target="blank">
                    <i class="d-block i-icon i-expand bgc-dark sm"></i>
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div ngbDropdown class="insert-token ml-2" *ngIf="hasCalendly">
        <div class="v-center no-carot c-pointer" ngbDropdownToggle placement="bottom" ngbTooltip="{{ 'Calendly' | translate }}">
          <i class="d-block i-icon i-calendly bgc-dark"></i>
        </div>
        <div ngbDropdownMenu class="light template-container">
          <ng-container *ngFor="let calendly of (connectService.calendlyAll$ | async)">
            <div class="template dropdown-item border-top px-2" (click)="selectCalendly(calendly.scheduling_url)">
              <div class="v-center h-100">
                <div class="f-3 font-weight-bold flex-grow-1 mr-1 h-100 v-center">
                  {{(calendly.name || '') | shorten: 35: '...'}}
                </div>
                <a class="ml-auto" [href]="calendly.scheduling_url" target="_blank">
                  <i class="d-block i-icon i-expand bgc-dark sm"></i>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div ngbDropdown class="insert-token ml-2">
        <div class="v-center no-carot c-pointer" ngbDropdownToggle placement="bottom" ngbTooltip="{{ 'Record' | translate }}" *enableByFeatures="USER_FEATURES.MATERIAL">
          <i class="d-block i-icon i-record-toolbar" (click)="record()"></i>
        </div>
      </div>
      <app-token-selector (selectToken)="insertTextContentValue($event)"></app-token-selector>
     <!--  <app-chatgpt-button [enabled]="!aiDialogExtendable" (setAiMode)="setAiMode($event)"></app-chatgpt-button> -->
      <div class="v-center justify-content-between mt-2 mt-sm-0 w-100">
        <button [attr.data-action]="'template-contact-text-send'" type="button" class="btn btn-green-light text-white br-default py-1 f-6 font-weight-bold shadow ml-auto"
          [class.loading]="sending" [class]="hasSchedule? 'send-btn':''" (click)="send()" >
          {{ 'Send Text' | translate }}
        </button>
        <div ngbDropdown class=" button-more p-0" placement="bottom-end" *enableByFeatures="USER_FEATURES.SCHEDULER">
          <div class="v-center btn btn-green-light dropdown-btn" ngbDropdownToggle data-name="switch-send-mode">
            <i class="d-block i-icon i-triangle-down more-icon bgc-white "></i>
          </div>
          <div ngbDropdownMenu class="light action-menu">
            <button data-action="contact-action-new-meeting" class="v-center border-0 c-dark dropdown-item m-1"
               (click)="showSchedule()">
              <i class="i-icon i-appointments bgc-dark"></i>
              <span class="ml-3 f-3 font-weight-bold" translate>{{'Schedule' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-auto text-center">
      <span *ngIf="segments > 1" class="d-inline-flex ml-1 f-2">
        {{segments}} Segments
        <a href="{{redirectArticleURL}}" target="_blank">
          <i class="d-block i-icon i-information bgc-dark"></i>
        </a>
      </span>
    </div>
  </div>
 <!--  <app-chatgpt-extend
    *ngIf="aiDialogExtendable && !aiTabMinimized"
    [creatorResultContent]="presetText"
    (getGptResponse)="writeGptResponseContent($event)"
    (setVisible)="setDialogExtend(false)">
  </app-chatgpt-extend> -->
</div>
