<div class="custom-mat-field">
  <mat-form-field [attr.data-name]="'contact-tag-select'" appearance="outline" 
    floatLabel="never" class="d-block" (click)="focusField()">
    <mat-chip-list aria-label="Contact Selection" #tagList>
      <mat-basic-chip
        *ngFor="let tag of selectedTags"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(tag)">
        <div [attr.data-name]="'contact-tag-' + tag" class="v-center chip p-1 rounded-pill mr-1">
          <div class="info c-dark font-weight-bold ml-1" translate>
            {{ tag === null ? "No Tag" : tag}}
          </div>
          <div class="close-icon-wrapper rounded-circle bg-white ml-1">
            <div class="i-icon i-close bgc-dark" matChipRemove></div>
          </div>
        </div>
      </mat-basic-chip>
      <input
        #inputField
        [formControl]="formControl"
        [matChipInputFor]="tagList"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="onAdd($event)"
        [disabled]="isUniqueSelect && selectedTags.length > 0"
      >
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectOption($event)"
      (optionActivated)="onActiveOption($event)"
      [autoActiveFirstOption]="false"
    >
      <mat-option [value]="nullTag" *ngIf="hasNoTag && selectedTags.indexOf(null) === -1 && !keyword">
        <div class="d-flex chip py-2">
          <div class="info">
            <div data-name="no-tag" class="f-4 fw-600" translate>No Tag</div>
          </div>
        </div>
      </mat-option>
      <mat-option *ngFor="let item of filteredResults | async" [value]="item">
        <div class="d-flex chip py-2" *ngIf="item.value">
          <div class="info">
            <div class="f-4 fw-600">{{item?.value}}</div>
          </div>
        </div>
      </mat-option>
      <mat-option [value]="nullTag" *ngIf="hasNoTag && selectedTags.indexOf(null) === -1 && keyword">
        <div class="d-flex chip py-2">
          <div class="info">
            <div class="f-4 fw-600" translate>No Tag</div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
