<ng-container *ngIf="isActionItem else activityItem">
    <!-- Date Split -->
  <ng-container *ngIf="activity?.action?.isFirstMessage">
    <div class="date-split-line"></div>
    <div class="date-split">
        <div class="time">{{activity?.action?.created_at | dateSpliter:'EEE, MMM d, yyyy'}}</div>
    </div>
  </ng-container>
  <div class="message mt-3" [innerHTML]="
  replaceContent(activity?.action?.content) || ''
    | convertIdToUrl
    | linkify
  " [ngClass]="{send: activity?.action?.type == 0, receive: activity?.action?.type == 1}">
</div>
<div class="f-2 message-date mt-1 mx-1 d-flex" [ngClass]="{send: activity?.action?.type == 0, receive: activity?.action?.type == 1}">
  <span>{{activity?.action?.created_at | datetimeFormat}}</span>
</div>

</ng-container>
<ng-template #activityItem>
  <div class="texts-detail">

    <div class="v-center justify-content-between mb-3">
      <div class="v-center">
        <div class="history-icon mr-1">
          <i class="act-icon act-{{activity.activityOverView.type}}"></i>

        </div>
        <div style="display: contents;">
          <div class="d-flex v-center">
            <span class="text-capitalize">{{ activity.activityOverView.content }}</span>
            <ng-container *ngIf="activity.activityOverView.receivers.length > 0">
              <span class="ml-2"> ( {{ convertReceiversStr(activity.activityOverView.receivers)}}) </span>
            </ng-container>
            <ng-container *ngIf="!activity.action.type && activity.activityOverView?.type === 'texts' && activity.status && activity.status !== 'completed'">
              <i class="d-block i-icon i-schedule-send bgc-dark ng-star-inserted ml-2 small" ngbTooltip="{{ 'Pending' | translate }}" ></i>
            </ng-container>
            <ng-container *ngIf="activity?.activityOverView?.user">
              <app-contact-action-user [user]="activity.activityOverView.user"></app-contact-action-user>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="v-center ml-auto">
        <span class="f-3 op-56">
          {{ activity.activityOverView.created_at | datetimeFormat }}
        </span>
      </div>
    </div>
    <ng-container *ngIf="isExpanded && !detailLoading; else collapsedTemplate">
      <!-- Email Summary / All content -->
      <ng-container *ngIf="more; else emailSummary">
        <div class="text-content" [innerHTML]="
            replaceContent(activity?.action?.content) || ''
              | convertIdToUrl
              | makeRedirect
              | safeHtml
          "></div>
        <a class="more f-3 mt-2 c-pointer fw-600 d-block w-fit" (click)="more = false" translate>Less</a>
      </ng-container>
      <ng-template #emailSummary>
        <span class="text-content" [innerHTML]="
            replaceContent(activity?.action?.content) || ''
            | convertIdToUrl
              | removeEntity
              | shorten : 200 : '...'
              | safeHtml
          "></span>
        <a class="more ml-2 f-3 c-pointer" (click)="more = true" translate>More</a>
      </ng-template>
      <!-- Sessions -->
      <div class="mt-4">
        <app-action-session-list [sessionList]="actionDetail.activities"
          [isShowCollapse]="false"></app-action-session-list>
      </div>
    </ng-container>
    <ng-template #collapsedTemplate>
      <!-- Email Content Summary or Materials -->
      <app-contact-material-list [materials]="activity?.materials"
        *ngIf="!!activity?.includeMaterials; else emailSummaryContent"></app-contact-material-list>
      <ng-template #emailSummaryContent>
        <span class="text-content" [innerHTML]="
            replaceContent(activity?.action?.content) || ''
            | convertIdToUrl
              | removeEntity
              | shorten : 200 : '...'
              | safeHtml
          "></span>
      </ng-template>
      <!-- Last Tracker Details -->
      <ng-container *ngIf="
          activity?.trackerType === 'video_trackers' ||
          activity?.trackerType === 'pdf_trackers'
        ">
        <app-play-timelines [data]="activity?.trackerDetail" [type]="activity?.trackerType"
          [duration]="activity?.trackerDetail?.videoDuration">
        </app-play-timelines>
      </ng-container>
      <ng-container *ngIf="
          activity?.trackerType === 'email_trackers' &&
          activity?.trackerDetail?.link
        ">
        <a href="{{ activity?.trackerDetail?.link }}" target="_blank" class="f-3">{{ activity?.trackerDetail?.link }}</a>
      </ng-container>
    </ng-template>

    <a class="more f-3 mt-3 c-pointer fw-600 d-block w-fit btn c-blue px-0" (click)="toggleSessions()"
      [class.loading]="detailLoading" translate translate [innerText]="isExpanded ? 'Collapse' : 'Expand'">
    </a>
  </div>
</ng-template>
