<!-- added by sylla -->
<div class="d-flex justify-content-between">
  <h1 mat-dialog-title translate>Change Password</h1>
</div>
<mat-dialog-content class="mt-3">
  <div class="v-center mt-2">
    <div class="v-center">
      <div class="custom-radio-container" (click)="onSwitchPassword(false)">
        <input class="custom-radio" type="radio" id="manualPassword"
          name="manualPassword" [checked]="!autoPassword" />
        <label class="f-3" for="manualPassword"></label>
      </div>
      <div class="f-2 ml-1" translate>Manual</div>
    </div>
    <div class="v-center ml-5">
      <div class="custom-radio-container" (click)="onSwitchPassword(true)">
        <input class="custom-radio" type="radio" id="autPassword"
          name="autPassword" [checked]="autoPassword" />
        <label class="f-3"></label>
      </div>
      <div class="f-2 ml-1" translate>Auto</div>
    </div>
  </div>
  <div class="position-relative form-group mt-3 mb-0" >
    <div class="d-flex justify-content-between">
      <label for="password">Password</label>
      <ng-container *ngIf="autoPassword">
        <button type="button" class="btn btn-link btn-sm"
          (click)="generatePassword()" translate>
          Regenerate
        </button>
      </ng-container>
    </div>
      <input [type]="passwordType" class="form-control password" [(ngModel)]="pass" [placeholder]="'Type Password' | translate"
        name="password" id="password" required minlength="6" #password="ngModel" autofocus/>
      <span class="f-3 c-black password-type c-pointer"
        *ngIf="passwordType === 'password'"
        (click)="passwordType = 'text'" translate>Show</span>
      <span class="f-3 c-black password-type c-pointer"
        *ngIf="passwordType === 'text'"
        (click)="passwordType = 'password'" translate>Hide</span>
  </div>
  <div class="form-group invalid">
    <span class="error" *ngIf="pass.length < 6" translate>
      Password must be at least 6 characters long!
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-3" align="end">
  <button type="button" mat-dialog-close class="btn btn-default btn-sm f-3 c-black" (click)="close()" translate>Close</button>
  <button type="button" mat-dialog-close class="btn btn-primary btn-sm f-3 c-whight ml-2" (click)="save()" [class.loading]="saving" translate>Save</button>
</mat-dialog-actions>
