<mat-chip-list aria-label="Contact Selection" #tagList>
  <mat-basic-chip
    *ngFor="let tag of selectedTags"
    [selectable]="true"
    [removable]="true"
    (removed)="remove(tag)">
    <div [attr.data-name]="'contact-tag-' + tag" class="v-center chip p-1 rounded-pill mr-1">
      <div class="info c-dark font-weight-bold ml-1 break-all p-0 f-2" translate appUppercaseTag>
        {{ tag === null ? "No Tag" : tag}}
      </div>
      <div class="close-icon-wrapper rounded-circle bg-white ml-1">
        <div class="i-icon i-close bgc-dark" matChipRemove></div>
      </div>
    </div>
  </mat-basic-chip>
</mat-chip-list>

<div class="action-item c-pointer" ngbDropdown #tagDrops="ngbDropdown" placement="bottom-left">
  <div ngbDropdownToggle class="no-carot">
    <div class="position-relative v-center mt-2 ml-10 c-pointer trigger-icon-container">
      <i class="d-block i-icon bgc-blue i-tag-plus mr-2 trigger-icon"></i>
      <span class="f-3 font-weight-bold c-blue my-1" translate>
        Add Tags
      </span>
    </div>
  </div>
  <div ngbDropdownMenu class="light tag-selector-panel p-0">
    <div class="custom-mat-field tag-select-content">
      <mat-form-field [attr.data-name]="'contact-tag-select'" appearance="outline" floatLabel="never" class="d-block">
        <input
          matInput
          [placeholder]="placeholder | translate"
          #inputField
          [formControl]="formControl"
          [matChipInputFor]="tagList"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="onAdd($event)"
        >
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelectOption($event)"
          (optionActivated)="onActiveOption($event)"
          [autoActiveFirstOption]="false"
        >
          <mat-option [value]="nullTag" *ngIf="hasNoTag && selectedTags.indexOf(null) === -1 && !keyword">
            <div class="d-flex chip py-2">
              <div class="info">
                <div data-name="no-tag" class="f-4 fw-600" translate>No Tag</div>
              </div>
            </div>
          </mat-option>
          <ng-container *ngIf="sharedWith?.length; else ownedContact">
            <mat-option *ngFor="let item of sharedTags" [value]="item">
              <div class="d-flex chip py-2" *ngIf="item._id">
                <div class="info">
                  <div class="f-3" *ngIf="item.isNew" translate>Create new tag:</div>
                  <div class="f-4 fw-600 text-capitalize">{{item?._id}}</div>
                </div>
              </div>
            </mat-option>
          </ng-container>
          <ng-template #ownedContact>
            <mat-option *ngFor="let item of filteredResults | async" [value]="item">
              <div class="d-flex chip py-2" *ngIf="item._id">
                <div class="info">
                  <div class="f-3" *ngIf="item.isNew" translate>Create new tag:</div>
                  <div class="f-4 fw-600 text-capitalize">{{item?._id}}</div>
                </div>
              </div>
            </mat-option>
          </ng-template>
          <mat-option [value]="nullTag" *ngIf="hasNoTag && selectedTags.indexOf(null) === -1 && keyword">
            <div class="d-flex chip py-2">
              <div class="info">
                <div class="f-4 fw-600" translate>No Tag</div>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
