<div class="box rounded-lg p-3">
  <div class="d-flex flex-column gap-24">
    <div class="d-flex flex-column gap-8">
      <h6 class="c-primary f-title-small mb-0">Kick Start Your Growth!</h6>
      <p class="c-secondary f-body-medium mb-0">
        Learn how to grow your business with Vortex by registering for a free
        live training.
      </p>
      <a
        class="btn btn-primary-outline w-100 py-2 fw-600"
        href="https://help.theredx.com/en/articles/8908953-webinar-registration-links "
        target="_blank"
      >
        Register for Training
      </a>
    </div>
    <hr class="m-0" />
    <div class="d-flex flex-column gap-8">
      <h6 class="c-primary f-title-small mb-0">Need Help?</h6>
      <div class="d-flex flex-column align-items-start gap-8">
        <a
          class="btn link_c fw-600"
          href="https://www.facebook.com/groups/338535896636645/ "
          target="_blank"
        >
          Facebook Community
        </a>
        <a
          class="btn link_c fw-600"
          href="https://help.theredx.com/en/"
          target="_blank"
        >
          Help Center
        </a>
      </div>
    </div>
    <div class="d-flex flex-column gap-8 contact-us-warpper">
      <h6 class="c-primary f-title-small mb-0">Contact Us</h6>
      <div class="d-flex flex-column gap-4">
        <div class="d-flex v-center px-3 py-2 gap-8">
          <i class="d-block i-icon i-phone bg-dark"></i>
          <span class="c-primary f-title-small fw-600">800-731-7339</span>
        </div>
        <div class="d-flex v-center px-3 py-2 gap-8">
          <i class="d-block i-icon i-email bg-dark"></i>
          <span class="c-primary f-title-small fw-600">support@redx.com</span>
        </div>
        <div class="d-flex v-center px-3 py-2 gap-8">
          <i class="d-block i-icon i-hours bg-dark"></i>
          <span class="c-primary f-title-small fw-600"
            >Hours: 8am - 8pm EST</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
