<div class="page-content">
  <div class="v-center justify-content-between">
      <h1 class="page-title" translate>Landing Page</h1>
      <a
          class="btn btn-primary f-6 font-weight-bold"
          href="{{PageBuilder + '/choose-a-template'}}"
          target="_blank" translate>
          New Landing Page
      </a>
  </div>
  <div class="mt-3 position-relative">
      <ng-container *ngIf="pages.length">
          <div class="updating-status" *ngIf="pages.length && (userService.loading$ | async) === STATUS.REQUEST">
              LOADING
          </div>
          <div class="v-center pages">
              <ng-container *ngFor="let page of pages">
                  <div class="page-item" *ngIf="page.name">
                      <div class="page-thumbnail">
                          <img [src]="page.thumbnail">
                          <div class="page-actions" [disabled]="callStatus[page?.id]">
                              <a class="btn btn-primary f-6 font-weight-bold" [href]="page.editorUrl" target="_blank" translate>Edit</a>
                              <a class="btn border border-primary c-blue f-6 font-weight-bold" [href]="page.previewUrl" target="_blank" translate>Preview</a>
                              <ng-container *ngIf="page?.state === 'published'; else publishAction">
                                  <a class="btn border border-primary c-blue f-6 font-weight-bold" (click)="copySite(page)" translate>Copy Link</a>
                              </ng-container>
                              <ng-template #publishAction>
                                  <a class="btn border border-primary c-blue f-6 font-weight-bold" (click)="publishSite(page)" translate>Publish</a>
                              </ng-template>
                              <div ngbDropdown #mainDrop="ngbDropdown" placement="bottom-right" class="ml-auto more-action">
                                  <a ngbDropdownToggle class="v-center btn c-dark f-3 no-carot px-0">
                                  <i class="d-block i-icon i-menu-more bgc-dark mx-auto"></i>
                                  </a>
                                  <div ngbDropdownMenu class="light">
                                      <a class="v-center border-0 py-2 c-dark dropdown-item" _target="_blank" [href]="page.editorUrl">
                                          <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                                          <span class="ml-3 f-3 font-weight-bold" translate>Edit site</span>
                                      </a>
                                      <a class="v-center border-0 py-2 c-dark dropdown-item" _target="_blank" [href]="page.previewUrl">
                                          <i class="i-icon i-expand bgc-dark ml-1" aria-hidden="true"></i>
                                          <span class="ml-3 f-3 font-weight-bold" translate>Preview site</span>
                                      </a>
                                      <a class="v-center border-0 py-2 c-dark dropdown-item" *ngIf="page?.state === 'published'; else publishDropAction;" (click)="copySite(page)">
                                          <i class="i-icon i-link i- bgc-dark ml-1" aria-hidden="true"></i>
                                          <span class="ml-3 f-3 font-weight-bold" translate>Copy link</span>
                                      </a>
                                      <ng-template #publishDropAction>
                                          <a class="v-center border-0 py-2 c-dark dropdown-item" (click)="publishSite(page)">
                                              <i class="i-icon i-upload bgc-dark ml-1" aria-hidden="true"></i>
                                              <span class="ml-3 f-3 font-weight-bold" translate>Publish site</span>
                                          </a>
                                      </ng-template>
                                      <a class="v-center border-0 py-2 c-dark dropdown-item" (click)="deleteSite(page)">
                                          <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                                          <span class="ml-3 f-3 font-weight-bold" translate>Delete site</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <ng-container *ngIf="callStatus[page?.id]">
                              <div class="call-status">
                                  {{callStatus[page?.id]}}
                              </div>
                          </ng-container>
                      </div>
                      <div class="text-center f-6 font-weight-bold mt-1">
                          {{page.name}}
                      </div>
                  </div>
              </ng-container>
          </div>
      </ng-container>
      <ng-container *ngIf="!(userService.pages$ | async).length">
          <ng-container [ngSwitch]="(userService.loading$ | async)">
              <div class="empty-list" *ngSwitchCase="STATUS.SUCCESS">
                  <div class="object-icon v-center">
                      <i class="i-icon i-page-builder d-block bgc-dark"></i>
                  </div>
                  <h4 class="font-weight-bold mt-4 mb-3" translate>
                      There are no pages yet.
                  </h4>
              </div>
              <div class="empty-list" *ngSwitchCase="STATUS.FAILURE">
                  <div class="object-icon v-center">
                      <i class="i-icon i-page-builder d-block bgc-dark"></i>
                  </div>
                  <h4 class="font-weight-bold mt-4 mb-3" translate>
                      There are no pages yet.
                  </h4>
              </div>
              <div class="empty-list" *ngSwitchCase="STATUS.NONE">
                  <div class="object-icon v-center">
                      <i class="i-icon i-page-builder d-block bgc-dark"></i>
                  </div>
                  <h4 class="font-weight-bold mt-4 mb-3" translate>
                      There are no pages yet.
                  </h4>
              </div>
              <div class="list-loading text-center" *ngSwitchCase="STATUS.REQUEST">
                  <div class="loader mt-5 lg"></div>
                  <h4 class="fw-600 mt-2" translate>Loading pages...</h4>
              </div>
          </ng-container>
      </ng-container>
  </div>
</div>
