.card-header {
  background-color: transparent!important;
  border-bottom: none!important;
}
.task-content{
    word-break: break-all;
}
.overflow-y {
    overflow-y: auto;
}
.tasks-empty-avatar {
  width: 32px !important;
  height: 32px !important;
}
