$color-dark: #4d4d4d;
$color-purple: #6554c0;
$color-blue: #066fd3;
$color-blue-dark: #0414ff;
$color-silver: #dadadd;
$color-red: #de5038;
$color-red-pink: #f5325b;
$color-pink-red: #ff045f;
$color-orange: #f26419;
$color-orange-weak: #ffaa2a;
$color-yellow: #ffcc00;
$color-yellow-light: #eeaf53;
$color-wheat: #fff7d1;
$color-blue-weak: #5050fd;
$color-orange-light: #fff7d1;
$color-azure: #00a9ff;
$color-azure-light: #71d0ff;
$color-green: #00da42;
$color-green-light: #00cc7e;
$color-green-weak: #46d3a9;
$color-trans: transparent;
$color-trans04: rgba(16, 19, 54, 0.04);
$color-trans08: rgba(16, 19, 54, 0.08);
$color-trans10: rgba(16, 19, 54, 0.1);
$color-trans28: rgba(16, 19, 54, 0.28);
$color-trans56: rgba(16, 19, 54, 0.56);
$color-trans75: rgba(16, 19, 54, 0.75);
$color-blue06: rgba(0, 0, 255, 0.06);
$color-blue20: rgba(0, 0, 255, 0.2);
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #dee2e6;
$color-avatar: #b8b8b8;
$color-border: #989898;
$color-light-gray: #989898;
$color-pale: #fafafa;
$color-placeholder: #cccccc;
$color-black-dark: #101336;
$color-price: #007a4b;
$color-grey-25: #e6e6e6;
$color-grey-15: #f5f5f5;

$font-default: 'Roboto Flex';
$table-header-top: 0px;
// Custom toggle
$custom-toggle-width: 42px !default;
$custom-toggle-slider-bg: $color-silver !default;
$custom-toggle-checked-bg: $color-blue !default;

$f-large-size: 22px;
$f-small-size: 14px;

$f-large-weight: 600;
$f-medium-weight: 400;

$input-transition: all 0.3s ease-in-out;

.btn-font-bold {
  font-weight: 800 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

$side-width: 0px;
$nav-height: 52px;

$drawer-layer-index: 498;
$drawer-layer-index1: 498;

.weight-0 {
  font-weight: unset !important;
}

.carousel-content {
  max-width: calc(100vw - 129px) !important;
}
