<div class="v-center justify-content-between">
  <h1 class="m-0" mat-dialog-title translate>
    {{data['title']}}
  </h1>
  <i class="d-block i-icon i-close bgc-dark" mat-dialog-close *ngIf="!submitting"></i>
</div>
<mat-dialog-content class="description mt-1">
  <div class="text-center f-5 c-dark mt-3" style="font-size: 18px;font-weight: 600;" [innerHTML]="data['message'] | translate">
  </div>
  <div class="custom-checkbox my-3 ml-5 team-checkbox">
    <input type="checkbox" class="custom-control-input" id="confirm-check" name="confirm-check"
           (change)="toggle($event)" [checked]="notShow">
    <label class="custom-control-label f-3 c-dark pt-1" for="confirm-check">I understand. Do not show it again.</label>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mx-0">
  <button class="btn btn-white f-6 font-weight-bold c-blue mr-2" [mat-dialog-close]="false"
          [class.disabled]="submitting" translate>
    {{ data['cancelLabel'] || 'Cancel' }}
  </button>
  <button class="btn btn-red f-6 font-weight-bold text-white" [class.loading]="submitting" type="button" data-action="create-schedule-item"
          (click)="doConfirm()" cdkFocusInitial translate>
    {{ data['confirmLabel'] || 'OK' }}
  </button>
</mat-dialog-actions>
