.form-group {
    margin-bottom: 18px !important;
    label {
        opacity: 1;
    }
}

.invalid-option {
    color: #dc3545;
}

.name-error {
    color: #DE5038;
}

.option-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #989898;
}

.c-gray {
    color: #CCCCCC;
}