<div class="v-center justify-content-between">
  <h1 mat-dialog-title class="m-0">
    {{ title ? title : ('Schedule setting' | translate) }}
  </h1>
  <button class="v-center border-0 bgc-trans" mat-dialog-close>
    <i class="d-block i-icon i-close bgc-dark"></i>
  </button>
</div>
<mat-dialog-content>
  <ng-container *ngIf="timeChange">
    <div class="mt-2">
      <app-business-date-time-picker
        [selectedDay]="getSelectedDate()"
        [selectedTime]="time"
        [time_zone]="time_zone"
        (onSelectDateTime)="onSelectDateTime($event)"
        [isCreateMode] = "false"
      >
      </app-business-date-time-picker>
    </div>
  </ng-container>
  <ng-container *ngIf="recurrenceChange">
    <div class='v-center mt-3'>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input overlay" id="repeat_tc" [checked]='set_recurrence'
          (change)="toggleRepeatSetting()" />
        <label class="custom-control-label f-3 fw-600 pt-1" for="repeat_tc" translate>Set as recurring event</label>
      </div>
      <div class="form-group ml-auto mb-0">
        <select class="form-control c-blue font-weight-bold" *ngIf='set_recurrence' name="duration"
          [disabled]='!set_recurrence' [(ngModel)]="recurrence_mode">
          <option *ngFor="let type of REPEAT_DURATIONS" [value]="type.value" [selected]="type.value == 'DAILY'">
            {{ type.label | translate }}
          </option>
        </select>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button data-action="schedule-change" class="btn btn-primary" (click)="save()">
    {{ 'Change' | translate }}
  </button>
</mat-dialog-actions>
