<div class="topbar d-flex bgc-blue align-items-center justify-content-center px-2 py-1">
  <div class="notification-item">
    200 of our users were using Signal Wire as a texting provider with crmgrow.  If you see this, you are one of them.  There has been a very abrupt change to their policy.  Please visit this link to read up on what we are doing to ensure your service level and communications stay in tact.
    <a href="https://docs.google.com/document/d/1MIt_JHrpNyFL0gVA3p1lsrHAoL-j5i9LlhRN4dhKRB4/edit" target="_blank">Check here</a>
  </div>
</div>