<ng-container *ngIf="initLoading; else firstLoaded">
  <div class="empty-list p-3">
    <div class="v-center justify-content-center">
      <div class="list-loading v-center">
        <div class="loader md"></div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #firstLoaded>
  <ng-container *ngIf="data.length === 0; else listview">
    <div class="p-3">
      <div class="d-flex justify-content-center mb-2">
        <i class="bgc-dark d-block i-automation i-icon custom-icon mr-2"></i>
      </div>
      <div class="empty-str">
        {{
          'Automate your next actions by adding an automation to the contact'
        }}
      </div>
    </div>
  </ng-container>
  <ng-template #listview>
    <div class="w-full mb-1 p-1" *ngFor="let item of data">
      <div
        class="d-flex justify-content-between cursor-pointer"
        (click)="handleExpand(item._id)"
      >
        <div class="d-flex items-center">
          <i
            *ngIf="item.isExpanded"
            class="d-block i-icon i-triangle-down bgc-dark size-8 mr-2"
          ></i>
          <i
            *ngIf="!item.isExpanded"
            class="d-block i-icon i-triangle-right-2 bgc-dark mr-2"
          ></i>
          <div class="d-flex">
            <div class="title mr-2">
              {{ item.title }}
            </div>
            <a [routerLink]="['/autoflow/edit/', (item.automationId ?? item._id)]" target="_blank">
              <i class="i-icon i-expand bgc-dark d-block ml-1"></i>
            </a>
          </div>
        </div>
        <div class="status">Running</div>
      </div>
      <div class="d-flex cursor-pointer ml-4" *ngIf="item.deal">

          <div class="deal-title mr-2">
            Assigned to Deal:
            <a [routerLink]="['/pipeline']" [queryParams]="{ deals: item.deal }" target="_blank">
            {{ item.dealTitle }}
            </a>
          </div>
      </div>
      <div *ngIf="item.isExpanded" class="mt-2 pl-3">
        <ng-container
          *ngFor="let _item of item.displayTimelines; let isLast = last"
        >
          <div *ngIf="!(_item.condition?.answer && bothPending(item.displayTimelines))">
            <div
              class="d-flex cursor-pointer"
              #treeNode
              (click)="easyView(_item, treeNode, treeOverlay)"
            >
              <div *ngIf="_item.condition">
                <div class="trueCase" *ngIf="_item.condition.answer">
                  <label>YES</label>
                </div>
                <div class="falseCase" *ngIf="!_item.condition.answer">
                  <label>NO</label>
                </div>
              </div>
              <div class="add-icon mr-2 d-flex items-center">
                <img [attr.src]="ICONS[getActionType(_item)]" width="32" />
              </div>
              <div>
                <div class="d-flex mb-2 items-center">
                  <div class="title mr-2">
                    {{ ActionName[_item.action?.type] }}
                  </div>
                  <div class="sub-status status_node {{ _item.status }}">
                    {{
                      _item.status.charAt(0).toUpperCase() + _item.status.slice(1)
                    }}
                  </div>
                </div>
                <div class="time">
                  {{ _item.due_date | datetimeFormat : DueDateTimeFormat }}
                </div>
              </div>
            </div>
            <ng-template #treeOverlay>
              <app-automation-detail-overlay
                [fullDataSource]="getCorrectAutomationActionType(_item)"
                [type]="'control'"
                [automationType]="'contact'"
              >
              </app-automation-detail-overlay>
            </ng-template>
            <div *ngIf="!isLast" class="v-line mt-2 mb-2"></div>
          </div>
        </ng-container>
        <div
          class="action mt-2 pt-1 d-flex justify-content-between items-center"
        >
          <button
            class="btn-more"
            (click)="showFullAutomation(item, item.type)"
          >
            See More
          </button>
          <button
            class="btn-stop d-flex items-center contact-action-btn"
            (click)="closeAutomation(item)"
          >
            <div class="stop-icon mr-2"></div>
            <span>Stop</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
