<div class="v-center justify-content-between">
  <h1 class="m-0" mat-dialog-title translate>
    Delete folder
  </h1>
  <i class="d-block i-icon i-close bgc-dark" mat-dialog-close></i>
</div>
<mat-dialog-content>
  <div class="f-3 font-weight-bold mt-4">
    {{ 'Please select options you want' | translate }}
  </div>
  <div class="mb-3">
    <div class="v-center c-pointer" (click)="selectOption('remove-all')">
      <div class="custom-radio-container mr-3">
        <input class="custom-radio" type="radio" [checked]="isSelectedOption('remove-all')">
        <label class="f-3 font-weight-bold"></label>
      </div>
      <div class="f-3 ml-4 mt-3" [translateParams]="{sub: folderType}" translate>
        Remove folder with sub
      </div>
    </div>
    <div class="v-center c-pointer" (click)="selectOption('move-other')">
      <div class="custom-radio-container mr-3">
        <input class="custom-radio" type="radio" [checked]="isSelectedOption('move-other')">
        <label class="f-3 font-weight-bold"></label>
      </div>
      <div class="f-3 ml-4 mt-3" [translateParams]="{sub: folderType}" translate>
        Remove folder and move sub to other
      </div>
    </div>
    <ng-container *ngIf="currentOption == 'move-other'">
      <div class="mx-5 mt-3">
        <div class="border rounded py-2 px-2">
          <mat-select [(ngModel)]="selectedFolder" id="target_folder" name="folder" #folder="ngModel" required
            placecholder="{{ 'Select Folder' | translate }}">
            <mat-option disabled>{{ 'Please select folder' | translate }}</mat-option>
            <mat-option [value]="rootFolder">
              <div class="f-3 c-black">
                <span class="f-20 mr-1">..</span>{{ 'to the root' | translate }}
              </div>
            </mat-option>
            <mat-option *ngFor="let folder of folders" [value]="folder">
              <div class="v-center">
                <i class="i-icon i-folder d-block bgc-dark" aria-hidden="true"></i>
                <div class="f-3 c-black ml-2">
                  {{folder.title}}
                </div>
              </div>
            </mat-option>
          </mat-select>
        </div>
        <div class="error f-1 c-red mt-1" *ngIf="!selectedFolder._id && submitted">
          {{ 'Target folder is required' | translate }}
        </div>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-white f-6 font-weight-bold c-blue mr-2" mat-dialog-close>
    {{ 'Cancel' | translate }}
  </button>
  <button class="btn btn-primary f-6 font-weight-bold" (click)="delete()">
    {{ 'Confirm' | translate }}
  </button>
</mat-dialog-actions>