<h1 mat-dialog-title>Assign Automation</h1>
<form
  #actionForm="ngForm"
  (ngSubmit)="
    submitted = true; actionForm.form.valid ? assignAutomation() : false
  "
  [class.was-validated]="submitted"
>
  <mat-dialog-content>
    <div class="form-group">
      <div class="my-3">
        <div class="f-5">
          <span translate>adding to</span>
          <span class="c-blue font-weight-bold ml-2">{{
            selectedAutomation.title
          }}</span>
        </div>
      </div>
      <app-slide-tab
        *ngIf="assignType == 'any'"
        [tabs]="tabs"
        [selected]="selectedTab"
        type="plain"
        (onChange)="changeTab($event)"
        class="border-bottom pl-0 rounded-0"
      >
      </app-slide-tab>
      <ng-container
        *ngIf="
        (assignType != 'any' && selectedTab?.id === 'contact') || ( assignType == 'any' && selectedTab?.id == 'contact');
          else dealTemplate
        "
      >
        <div class="my-3">
          <div class="v-center justify-content-between">
            <label translate *ngIf="assignType != 'any'">Contacts</label>
            <div
              [attr.data-name]="'new-contact-to-assign-automation'"
              class="v-center c-pointer"
              (click)="showAddContact()"
            >
              <i class="i-icon i-plus d-block sm bgc-blue"></i>
              <span class="f-3 font-weight-bold ml-2 c-blue" translate
                >New Contact</span
              >
            </div>
          </div>
          <app-select-contact (onSelect)="addContacts($event)" #contactSelector>
          </app-select-contact>
        </div>
        <div class="my-3" *ngIf="contacts.length">
          <label translate *ngIf="assignType != 'any'">Contacts to Assign</label>
          <div class="new-contacts-wrapper">
            <div
              class="new-member v-center py-2"
              *ngFor="let contact of contacts"
            >
              <div class="v-center justify-content-between w-100">
                <div class="v-center">
                  <img
                    *ngIf="contact.picture_profile; else avatarNameTemplate"
                    [src]="contact.picture_profile"
                    (error)="
                      sspaService.imgError($event, 'img/user_avatar.svg')
                    "
                    class="form-avatar rounded-circle mr-1"
                  />
                  <ng-template #avatarNameTemplate>
                    <div class="form-avatar rounded-circle bg-dark mr-3">
                      {{ contact.avatarName }}
                    </div>
                  </ng-template>
                  <div class="f-5">{{ contact.fullName }}</div>
                </div>
                <button
                  type="button"
                  class="v-center border-0 bgc-trans ml-1"
                  (click)="removeContact(contact)"
                >
                  <span class="text-danger f-3 fw-600" translate>Remove</span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="invalid-feedback d-block mt-2"
            *ngIf="contactOverflow"
            translate
          >
            Maximum contacts is 15.
          </div>
        </div>
      </ng-container>
      <ng-template #dealTemplate>
        <div class="my-3">
          <label translate *ngIf="assignType != 'any'">Deals</label>
          <app-select-deal
            (onSelect)="addDeal($event)"
            #dealSelector
          ></app-select-deal>
        </div>
        <div class="my-3" *ngIf="deals.length">
          <label translate>Deals to Assign</label>
          <div class="new-contacts-wrapper">
            <div class="new-member v-center py-2" *ngFor="let deal of deals">
              <div class="v-center justify-content-between w-100">
                <div class="v-center">
                  <div class="f-5">{{ deal.title }}</div>
                  <div class="f-3 c-grey ml-2">({{ getStageTitle(deal) }})</div>
                </div>
                <button
                  type="button"
                  class="v-center border-0 bgc-trans ml-1"
                  (click)="removeDeal(deal)"
                >
                  <span class="text-danger f-3 fw-600" translate>Remove</span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="invalid-feedback d-block mt-2"
            *ngIf="contactOverflow"
            translate
          >
            Maximum contacts is 15.
          </div>
        </div>
      </ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      type="button"
      class="btn btn-white"
      type="button"
      mat-dialog-close
      translate
    >
      Close
    </button>
    <button
      [attr.data-action]="'automation-assign-confirm'"
      type="submit"
      class="btn btn-primary ml-2"
      [class.loading]="loading"
      translate
    >
      Assign
    </button>
  </mat-dialog-actions>
</form>
