<div class="page_event_types mt-3">


  <ng-container *ngIf="(scheduleService.eventTypes$ | async).length; else emptyEventTypes">
    <div class="event_types">
      <div class="updating-status" *ngIf="(scheduleService.loadStatus$ | async) === STATUS.REQUEST" translate>
        LOADING
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-xl-3 mt-3 px-3" *ngFor="let eventType of scheduleService.eventTypes$ | async;let i = index">
          <div class="event-type p-3 d-flex flex-column justify-content-between h-100 c-pointer" (click)="editEventType(eventType)">
            <div>
              <div class="d-flex justify-content-between">
                <div class="f-22 c-dark title font-weight-bold v-center justify-content-center content">
                  <!-- <div class='title-label' [ngClass]="labelColors[i%15]"></div> -->
                  {{ eventType.title }}
                </div>
                <div ngbDropdown #mainDrop="ngbDropdown" placement="bottom-right" class="mt-1 ml-1" (click)="$event.stopPropagation()">
                  <a ngbDropdownToggle class="v-center c-pointer bgc-white c-dark f-4 no-carot px-0">
                    <i class="d-block i-icon i-menu-more bgc-dark"></i>
                  </a>
                  <div ngbDropdownMenu class="light">
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="editEventType(eventType)">
                      <i class="i-icon i-edit bgc-dark ml-1" aria-hidden="true"></i>
                      <span class="ml-3 f-4 c-dark font-weight-bold" translate>Edit</span>
                    </button>
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="copyLink(eventType)">
                      <i class="i-icon i-copy bgc-dark ml-1" aria-hidden="true"></i>
                      <span class="ml-3 f-4 c-dark font-weight-bold" translate>Copy Link</span>
                    </button>
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="assignAutomation(eventType)">
                      <i class="i-icon bgc-dark ml-1 i-automation" aria-hidden="true"></i>
                      <span class="ml-3 f-4 c-dark font-weight-bold" translate>Assign Automation</span>
                    </button>
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="assignTags(eventType)">
                      <i class="i-icon bgc-dark ml-1 i-tag-manager" aria-hidden="true"></i>
                      <span class="ml-3 f-4 c-dark font-weight-bold" translate>Assign Tags</span>
                    </button>
                    <button class="v-center border-0 py-2 c-dark dropdown-item" (click)="deleteEventType(eventType)">
                      <i class="i-icon i-trash bgc-dark ml-1" aria-hidden="true"></i>
                      <span class="ml-3 f-4 c-dark font-weight-bold" translate>Delete</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="v-center">
                <div class="f-4 type v-center justify-content-between w-100">
                  <span class="f-4 c-dark" translate>{{ eventType.duration }} mins</span>
                  <span class="f-4 c-dark" *ngIf="eventType.type === 1" translate>One-on-One</span>
                  <span class="f-4 c-dark" *ngIf="eventType.type !== 1" translate>Group</span>
                </div>
              </div>
              <div class="v-center mt-1">
                <div class="f-4 c-dark type" *ngIf="eventType.automation" translate>
                  Subscribed automation
                </div>
                <div class="f-4 c-dark type" *ngIf="!eventType.automation" translate>
                  Unsubscribed automation
                </div>
              </div>
              <div class="mt-1 tags-wrapper">
                <ng-container *ngIf="eventType.tags && eventType.tags.length;">
                  <span class="f-4 c-grey-light px-2 py-1 tag-label mx-1 mt-1" *ngFor="let tag of eventType.tags">
                    {{tag}}
                  </span>
                </ng-container>
              </div>
            </div>
            <div class="v-center justify-content-between f-4  mt-2">
              <div class="link font-weight-bold c-blue c-pointer" (click)="viewBookingPage(eventType.link);$event.stopPropagation()" translate>View
                Booking Page</div>
              <div class="v-center c-blue c-pointer " (click)="copyLink(eventType);$event.stopPropagation()">
                <i class="i-icon i-copy bgc-blue" aria-hidden="true"></i>
                <span class="ml-1 font-weight-bold" translate>Copy Link</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyEventTypes>
    <ng-container [ngSwitch]="scheduleService.loadStatus$ | async">
      <div class="empty-list mt-5 pt-5" *ngSwitchCase="STATUS.SUCCESS">
        <div class="object-icon v-center mt-5">
          <i class="i-icon i-event-note d-block bgc-dark"></i>
        </div>
        <h4 class="font-weight-bold mt-3 mb-3" translate>
          There are no event types yet.
        </h4>
      </div>
      <div class="empty-list mt-5 pt-5" *ngSwitchCase="STATUS.FAILURE">
        <div class="object-icon v-center mt-5">
          <i class="i-icon i-event-note d-block bgc-dark"></i>
        </div>
        <h4 class="font-weight-bold mt-3 mb-3" translate>
          There are no event types yet.
        </h4>
      </div>
      <div class="list-loading text-center mt-5 pt-5" *ngSwitchCase="STATUS.REQUEST">
        <div class="loader mt-5 pt-5 lg"></div>
        <h4 class="fw-600 mt-2" translate>Loading event types...</h4>
      </div>
    </ng-container>
  </ng-template>
</div>
